!!!
%html{lang: "en"}
	%head
		%meta{charset: "UTF-8"}/
		%title Document
	%body
		%div{style: "font-family: \"Open Sans\", sans-serif;"}
			%div{style: "background:#411A1A;padding:10px;font-family: 'Open Sans', sans-serif;"}
				%h1{style: "color:#d6e03d;"} Mirasol Hotel Boutique
			%div{style: "background:#d6e03d;padding:5px;padding-left:10px;"}
				%h3{style: "color:#411A1A;"} Registro de Reservación
			%div
				%table{border: "1", style: "width:100%;border:1px solid black;border-collapse:collapse;"}
					%tr{style: "background:#E6E6E6;"}
						%th Fecha de Solicitud
						%th Nombre
						%th Cedula/rif
						%th Email
					%tr
						%td
							%center= Date.today
						%td
							%center= @reservacion.nombre
						%td
							%center= @reservacion.cedula
						%td
							%center= @reservacion.email
					%tr{style: "background:#E6E6E6;"}
						%th Télefono						
						%th Adultos
						%th Niños
						%th Cantidad de habitaciones a reservar
					%tr 
						%td
							%center= @reservacion.telefono 
						%td
							%center= @reservacion.adults 
						%td
							%center= @reservacion.kids 
						%td 
							%center= @reservacion.canthab
					%tr{style: "background:#E6E6E6;"}
						%th{colspan: "4"} Habitaciones a reservar
					- @reservacion.habitacion.each do |habitacion|
						%tr						
							%td{colspan: "4"}
								%center= habitacion
					%tr{style: "background:#E6E6E6;"} 
						%th{colspan: "2"} Check-in 
						%th{colspan: "2"} Check-out
					%tr  
						%td{colspan: "2"}
							%center= @reservacion.check_in
						%td{colspan: "2"}
							%center= @reservacion.check_out
					%tr{style: "background:#E6E6E6;"} 
						%th{colspan: "2"} Procedencia 
						%th{colspan: "2"} Motivo de la visita
					%tr  
						%td{colspan: "2"}
							%center= @reservacion.procedencia
						%td{colspan: "2"}
							%center= @reservacion.motivo
					%tr{style: "background:#E6E6E6;"}
						%th{colspan: "4"} Método de pago					
					%tr						
						%td{colspan: "4"}
							%center= @reservacion.metodo_pago
					- if @reservacion.metodo_pago == "Crédito"
						%tr{style: "background:#E6E6E6;"}
							%th{colspan: "2"} Nombre de Tarjeta
							%th{colspan: "2"} Número de Tarjeta
						%tr
							%td{colspan: "2"}
								%center= @reservacion.tcname
							%td{colspan: "2"}
								%center= @reservacion.tcnumber
						%tr{style: "background:#E6E6E6;"}
							%th{colspan: "2"} Fecha de expiración
							%th{colspan: "2"} Código de verificación
						%tr
							%td{colspan: "2"}
								%center= @reservacion.tcexpired
							%td{colspan: "2"}
								%center= @reservacion.tcverification
						%tr{style: "background:#E6E6E6;"}
							%th{colspan: "4"} Tipo de tarjeta
						%tr						
							%td{colspan: "4"}
								%center= @reservacion.tctype				