%footer#footer-body 
	.container
		.row
			.col-md-4.col-lg-4.col-sm-12.hidden-xs{style:"padding-top:4%;"}
				%center
					.mirasol-footer
					.row
						.col-md-12.col-lg-12.col-sm-12.col-xs-12.div-page
							%center
								%ul.nav-socials
									%li
										= link_to "https://twitter.com/MirasolHotel", target: "_blank" do
											%span.fa-stack.fa-lg{style:"font-size:30px;"}
												%i.fa.fa-circle.fa-stack-2x{style:"color:#780032;"}
												%i.fa.fa-twitter.fa-stack-1x.fa-inverse
									%li
										= link_to "https://www.facebook.com/pages/Hotel-Mirasol-Suites-CA/290332104428638?ref=hl", target: "_blank" do
											%span.fa-stack.fa-lg{style:"font-size:30px;"}
												%i.fa.fa-circle.fa-stack-2x{style:"color:#780032;"}
												%i.fa.fa-facebook.fa-stack-1x.fa-inverse
									%li
										= link_to "https://instagram.com/mirasolhotelboutique", target: "_blank" do
											%span.fa-stack.fa-lg{style:"font-size:30px;"}
												%i.fa.fa-circle.fa-stack-2x{style:"color:#780032;"}
												%i.fa.fa-instagram.fa-stack-1x.fa-inverse
									%li{style: "margin-left: 5px;"}
										= link_to "http://www.tripadvisor.com/Hotel_Review-g316095-d4838946-Reviews-Mirasol_Hotel_Boutique-Punto_Fijo_Paraguana_Peninsula_Central_Western_Region.html", target: "_blank" do
											.globo-trip
			.col-md-4.col-lg-4.col-sm-12.col-xs-12{align:"justify"}
				%h3
					%b
						=t("footer.conocenos")
				%p
					=t("footer.conocenos-p")
			.col-md-4.col-lg-4.col-sm-12.col-xs-12{align:"justify"}
				%h3
					%b
						=t("footer.ubicanos")
				%p
					=raw  t('footer.ubicanos-p')
			.col-md-3.col-lg-3.col-sm-12.col-xs-12.visible-xs{align:"justify"}
				%h3
					%b
						Redes Sociales
				%p Amplia presencia en la web...
				%center
					%ul.nav-socials
						%li
							= link_to "#" do
								%span.fa-stack.fa-lg{style:"font-size:30px;"}
									%i.fa.fa-circle.fa-stack-2x{style:"color:#780032;"}
									%i.fa.fa-twitter.fa-stack-1x.fa-inverse
						%li
							= link_to "#" do
								%span.fa-stack.fa-lg{style:"font-size:30px;"}
									%i.fa.fa-circle.fa-stack-2x{style:"color:#780032;"}
									%i.fa.fa-facebook.fa-stack-1x.fa-inverse
						%li
							= link_to "#" do
								%span.fa-stack.fa-lg{style:"font-size:30px;"}
									%i.fa.fa-circle.fa-stack-2x{style:"color:#780032;"}
									%i.fa.fa-instagram.fa-stack-1x.fa-inverse
						%li{style: "margin-left: 5px;"}
							= link_to "#" do
								.globo-trip
#footer{style: "background:none;"}
	%center
		= t('footer.autor')
		= image_tag 'slicegroup.png', width: "60px", style: "display: inline; margin-left: 5px; margin-bottom: 3px;"
	%br
