#contacto	
	.container-bamboo
		.contacto-container.container
			.row
				.col-md-4
					.contactos-box-min
						%br
						%center
							%h1
								= t('module.contactos.cantactos-titulo')
							%br
						.row 
							= form_tag({controller: "staticpage", action: "enviar_contacto"}, {class: "contact_form"}) do						
								.row
									.col-md-12  
										= text_field_tag :name, "", :class=>'contactos-input', :type => "text", :placeholder=>t('module.contactos.nombre')
									.col-md-12
										= text_field_tag :email, "", :class=>'contactos-input', :type => "text", :placeholder=>t('module.contactos.email')
								.row
									.col-md-12
										= text_area_tag :comment, "", :class=>'contactos-textarea' , :placeholder=>t('module.contactos.comentario')
										= raw recaptcha_tags :display => { :theme => 'custom', lang: 'es' }, ajax: true
								.row
									.col-md-12
										= button_tag(type: 'submit', class: "btn btn-success btn-enviar", style:"width:100%") do
											%i.fa.fa-envelope.fa-2x
				%br.visible-xs
				.col-md-8
					#map_canvas
				
