.container#habitaciones
	.container-bamboo
		.row
			.col-lg-4-col-md-4.col-sm-4.col.col-xs-12
				%center 
					%h4 
						= t("module.habitaciones.suite")
						%span= t("module.habitaciones.deluxe")
					.thumbnail.thumb-two
						.reservation
							%center 
								%a{:href => "#{new_reservar_path}"} 
									%P= t("module.habitaciones.reserva")
						= link_to (image_tag "suite_deluxe/0.jpg", class: "image-thumb"), "#"
						.caption
							.col-md-12.col-xs-12.icons-thumb
								.col-md-2.col-xs-2.icon
									%center
										= image_tag "icons/tv.png", data: { toogle: "tooltip", title:"#{t('module.habitaciones.iconos.tv')}", placement:"bottom" }
								.col-md-2.col-xs-2.icon
									%center
										= image_tag "icons/wifi.png", data: { toogle: "tooltip", title:"#{t('module.habitaciones.iconos.wifi')}", placement:"bottom" }
								.col-md-2.col-xs-2.icon
									%center
										= image_tag "icons/nevera.png", data: { toogle: "tooltip", title:"#{t('module.habitaciones.iconos.nevera')}", placement:"bottom" }
								.col-md-2.col-xs-2.icon
									%center
										= image_tag "icons/telefono.png", data: { toogle: "tooltip", title:"#{t('module.habitaciones.iconos.telefono')}", placement:"bottom" }
								.col-md-2.col-xs-2.icon
									%center
										= image_tag "icons/cajafuerte.png", data: { toogle: "tooltip", title:"#{t('module.habitaciones.iconos.cajafuerte')}", placement:"bottom" }
								.col-md-2.col-xs-2.icon
									%center	
										= image_tag "icons/cocina.png", data: { toogle: "tooltip", title:"#{t('module.habitaciones.iconos.cocina')}", placement:"bottom" }
							%br/ 
							%p.description 
								= t("module.habitaciones.suite_deluxe.description")
							%a{:href => "/habitaciones/1" } 
								.view-details
									= t("module.habitaciones.ver_detalles")

			.col-lg-4-col-md-4.col-sm-4.col.col-xs-12.hidden-xs
				%center
					= raw t("module.habitaciones.lema")
			.col-lg-4-col-md-4.col-sm-4.col.col-xs-12
				%center 
					%h4 
						= t("module.habitaciones.suite") 
						%span= t("module.habitaciones.estandar")
					.thumbnail.thumb-two
						.reservation
							%center 
								%a{:href => "#{new_reservar_path}"} 
									%P= t("module.habitaciones.reserva")
						= link_to (image_tag "suite_estandar/3.jpg", class: "image-thumb"), "#"
						.caption
							.col-md-12.col-xs-12.icons-thumb
								.col-md-2.col-xs-2.icon.col-lg-offset-1.col-md-offset-1.col-xs-offset-1.col-sm-offset-1.icon
									%center
										= image_tag "icons/tv.png", data: { toogle: "tooltip", title:"#{t('module.habitaciones.iconos.tv')}", placement:"bottom" }
								.col-md-2.col-xs-2.icon
									%center
										= image_tag "icons/wifi.png", data: { toogle: "tooltip", title:"#{t('module.habitaciones.iconos.wifi')}", placement:"bottom" }
								.col-md-2.col-xs-2.icon
									%center
										= image_tag "icons/nevera.png", data: { toogle: "tooltip", title:"#{t('module.habitaciones.iconos.nevera')}", placement:"bottom" }
								.col-md-2.col-xs-2.icon
									%center
										= image_tag "icons/telefono.png", data: { toogle: "tooltip", title:"#{t('module.habitaciones.iconos.telefono')}", placement:"bottom" }
								.col-md-2.col-xs-2.icon
									%center
										= image_tag "icons/cajafuerte.png", data: { toogle: "tooltip", title:"#{t('module.habitaciones.iconos.cajafuerte')}", placement:"bottom" }
							%br/ 
							%p.description 
								= t("module.habitaciones.suite_estandar.description")
							%a{:href => "/habitaciones/2"} 
								.view-details
									= t("module.habitaciones.ver_detalles")

		.row
			.col-lg-4-col-md-4.col-sm-4.col.col-xs-12
				%center 
					%h4 
						%span= t("module.habitaciones.junior") 
						= t("module.habitaciones.suite")
					.thumbnail.thumb-two
						.reservation
							%center 
								%a{:href => "#{new_reservar_path}"} 
									%P= t("module.habitaciones.reserva")
						= link_to (image_tag "suite_junior/0.jpg", class: "image-thumb"), "#"
						.caption
							.col-md-12.col-xs-12.icons-thumb
								.col-md-2.col-xs-2.icon.col-lg-offset-1.col-md-offset-1.col-xs-offset-1.col-sm-offset-1.icon
									%center
										= image_tag "icons/tv.png", data: { toogle: "tooltip", title:"#{t('module.habitaciones.iconos.tv')}", placement:"bottom" }
								.col-md-2.col-xs-2.icon
									%center
										= image_tag "icons/wifi.png", data: { toogle: "tooltip", title:"#{t('module.habitaciones.iconos.wifi')}", placement:"bottom" }
								.col-md-2.col-xs-2.icon
									%center
										= image_tag "icons/nevera.png", data: { toogle: "tooltip", title:"#{t('module.habitaciones.iconos.nevera')}", placement:"bottom" }
								.col-md-2.col-xs-2.icon
									%center
										= image_tag "icons/telefono.png", data: { toogle: "tooltip", title:"#{t('module.habitaciones.iconos.telefono')}", placement:"bottom" }
								.col-md-2.col-xs-2.icon
									%center
										= image_tag "icons/cajafuerte.png", data: { toogle: "tooltip", title:"#{t('module.habitaciones.iconos.cajafuerte')}", placement:"bottom" }
							%br/ 
							%p.description 
								= t("module.habitaciones.suite_junior.description")
							%a{:href => "/habitaciones/3" } 
								.view-details
									= t("module.habitaciones.ver_detalles")

			.col-lg-4-col-md-4.col-sm-4.col.col-xs-12
				%center 
					%h4 
						= t("module.habitaciones.habitacion")
						%span= t("module.habitaciones.doble")
					.thumbnail.thumb-two
						.reservation
							%center 
								%a{:href => "#{new_reservar_path}"} 
									%P= t("module.habitaciones.reserva")
						= link_to (image_tag "hab_doble/1.jpg", class: "image-thumb"), "#"
						.caption
							.col-md-12.col-xs-12.icons-thumb
								.col-md-2.col-xs-2.icon.col-lg-offset-1.col-md-offset-1.col-xs-offset-1.col-sm-offset-1.icon
									%center
										= image_tag "icons/tv.png", data: { toogle: "tooltip", title:"#{t('module.habitaciones.iconos.tv')}", placement:"bottom" }
								.col-md-2.col-xs-2.icon
									%center
										= image_tag "icons/wifi.png", data: { toogle: "tooltip", title:"#{t('module.habitaciones.iconos.wifi')}", placement:"bottom" }
								.col-md-2.col-xs-2.icon
									%center
										= image_tag "icons/nevera.png", data: { toogle: "tooltip", title:"#{t('module.habitaciones.iconos.nevera')}", placement:"bottom" }
								.col-md-2.col-xs-2.icon
									%center
										= image_tag "icons/telefono.png", data: { toogle: "tooltip", title:"#{t('module.habitaciones.iconos.telefono')}", placement:"bottom" }
								.col-md-2.col-xs-2.icon
									%center
										= image_tag "icons/cajafuerte.png", data: { toogle: "tooltip", title:"#{t('module.habitaciones.iconos.cajafuerte')}", placement:"bottom" }
							%br/ 
							%p.description 
								= t("module.habitaciones.habitacion_doble.description")
							%a{:href => "/habitaciones/4"} 
								.view-details
									= t("module.habitaciones.ver_detalles")

			.col-lg-4-col-md-4.col-sm-4.col.col-xs-12
				%center 
					%h4 
						= t("module.habitaciones.habitacion")
						%span= t("module.habitaciones.estandar")
					.thumbnail.thumb-two
						.reservation
							%center 
								%a{:href => "#{new_reservar_path}"} 
									%P= t("module.habitaciones.reserva")
						= link_to (image_tag "hab_estandar/1.jpg", class: "image-thumb"), "#"
						.caption
							.col-md-12.col-xs-12.icons-thumb
								.col-md-2.col-xs-2.icon.col-lg-offset-1.col-md-offset-1.col-xs-offset-1.col-sm-offset-1.icon
									%center
										= image_tag "icons/tv.png", data: { toogle: "tooltip", title:"#{t('module.habitaciones.iconos.tv')}", placement:"bottom" }
								.col-md-2.col-xs-2.icon
									%center
										= image_tag "icons/wifi.png", data: { toogle: "tooltip", title:"#{t('module.habitaciones.iconos.wifi')}", placement:"bottom" }
								.col-md-2.col-xs-2.icon
									%center
										= image_tag "icons/nevera.png", data: { toogle: "tooltip", title:"#{t('module.habitaciones.iconos.nevera')}", placement:"bottom" }
								.col-md-2.col-xs-2.icon
									%center
										= image_tag "icons/telefono.png", data: { toogle: "tooltip", title:"#{t('module.habitaciones.iconos.telefono')}", placement:"bottom" }
								.col-md-2.col-xs-2.icon
									%center
										= image_tag "icons/cajafuerte.png", data: { toogle: "tooltip", title:"#{t('module.habitaciones.iconos.cajafuerte')}", placement:"bottom" }
							%br/  
							%p.description
								= t("module.habitaciones.habitacion_estandar.description")
							%a{:href => "/habitaciones/5"} 
								.view-details
									= t("module.habitaciones.ver_detalles")

:javascript
	$("img").tooltip()
