%script{ src:"//platform.twitter.com/widgets.js" }
#hotel
	#myCarousel.carousel.slide
		.carousel-inner.hidden-xs.hidden-sm
			.item.active
				.item1
			.item
				.item2
			.item
				.item3
			.item
				.item4
		%a.carousel-control.left.carrusel-controls.hidden-xs.hidden-sm{"data-slide" => "prev", href: "#myCarousel", style:"background-color:none;"}
			%span.glyphicon.glyphicon-chevron-left{ style: "left: 40px; top: 200px;" }
		%a.carousel-control.right.carrusel-controls.hidden-xs.hidden-sm{"data-slide" => "next", href: "#myCarousel"}
			%span.glyphicon.glyphicon-chevron-right{ style: "right: 40px; top: 200px;" }
		.container#wraper
			.container#description
				%row
					.col-lg-8.col-md-8.col-sm-8.col-xs-12
						%h1 Mirasol Hotel Boutique
						%hr
						%p
							= raw t("module.hotel.parrafo1")
						%p
							= raw t("module.hotel.parrafo2")
						%p
							= raw t("module.hotel.parrafo3")
						%p
							= raw t("module.hotel.parrafo4")
						%ul
							%li= raw t("module.hotel.li1")
							%li= raw t("module.hotel.li2")
							%li= raw t("module.hotel.li3")
						%p
							= raw t("module.hotel.parrafo5")
						%p
							= raw t("module.hotel.parrafo6")
						%p
							= raw t("module.hotel.parrafo7")
						%p
							= raw t("module.hotel.parrafo8")
						%center
							%h3#frase
								= raw t("module.hotel.frase")
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						%h3= t("module.general.opiniones")
						%blockquote
							= raw t("module.hotel.testimonio1")
						%blockquote
							= raw t("module.hotel.testimonio2")

						%a.btn.btn-success.boton-reserva{ href: "http://www.tripadvisor.com.ve/Hotel_Review-g316095-d4838946-Reviews-Mirasol_Hotel_Boutique-Punto_Fijo_Paraguana_Peninsula_Central_Western_Region.html", target: "_blank"}
							= t("module.general.btn-opinion")

					.col-lg-4.col-md-4.col-sm-4.col-xs-12#twitter
						%center
							%a.twitter-timeline{"data-widget-id" => "441999464740294657", :href => "https://twitter.com/MirasolHotel"} Tweets por @MirasolHotel
			= render "footer"


:javascript
	!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
