#home
	%body
		#myCarousel.carousel.slide
			.t-advisor.hidden-lg.hidden-md{ style: "z-index:1000; right: -30px; top: 0px;"}
				%ul
					%li
						%a{:href => "http://www.tripadvisor.com.ve/Hotel_Review-g316095-d4838946-Reviews-Mirasol_Hotel_Boutique-Punto_Fijo_Paraguana_Peninsula_Central_Western_Region.html", :target => "_blank"}
							= image_tag "ta16.jpg", alt: "TripAdvisor", width: "100px";
			.carousel-inner
				.active.item#item1
					.image-carousel-1
						.row.visible-md.visible-lg
							.col-md-1.col-md-offset-6{style:"padding-left:100px;"}
								.cuadro2
							.col-md-1
								.cuadro
									%h2
										=t('module.home.carrucel.reserva-titulo')
						.row.visible-sm
							.col-md-1
								.cuadro2-sm
							.col-md-1
								.cuadro-sm
									%h2
										=t('module.home.carrucel.reserva-titulo')
						.row.visible-md.visible-lg
							.col-md-1.col-md-offset-7{style:"padding-left:100px;"}
								.cuadro3
									%h5
										=t('module.home.carrucel.reserva-texto')
						.row.visible-sm
							.col-md-1
								.cuadro3-sm
									%h6
										=t('module.home.carrucel.reserva-texto')
				.item#item2
					.image-carousel-2
						.row.visible-md.visible-lg
							.col-md-1.col-md-offset-6{style:"padding-left:100px;"}
								.cuadro2
							.col-md-1
								.cuadro
									%h2
										=t('module.home.carrucel.habitaciones-titulo')
						.row.visible-sm
							.col-md-1
								.cuadro2-sm
							.col-md-1
								.cuadro-sm
									%h2
										=t('module.home.carrucel.habitaciones-titulo')
						.row.visible-md.visible-lg
							.col-md-1.col-md-offset-7{style:"padding-left:100px;"}
								.cuadro3
									%h5
										=t('module.home.carrucel.habitaciones-texto')
						.row.visible-sm
							.col-md-1
								.cuadro3-sm
									%h6
										=t('module.home.carrucel.habitaciones-texto')
				.item#item3
					.image-carousel-3
						.row.visible-md.visible-lg
							.col-md-1.col-md-offset-6{style:"padding-left:100px;"}
								.cuadro2
							.col-md-1
								.cuadro
									%h2
										=t('module.home.carrucel.salones-titulo')
						.row.visible-sm
							.col-md-1
								.cuadro2-sm
							.col-md-1
								.cuadro-sm
									%h2
										=t('module.home.carrucel.salones-titulo')
						.row.visible-md.visible-lg
							.col-md-1.col-md-offset-7{style:"padding-left:100px;"}
								.cuadro3
									%h5
										=t('module.home.carrucel.salones-texto')
						.row.visible-sm
							.col-md-1
								.cuadro3-sm
									%h6
										=t('module.home.carrucel.salones-texto')
				.item#item4
					.image-carousel-4
						.row.visible-md.visible-lg
							.col-md-1.col-md-offset-6{style:"padding-left:100px;"}
								.cuadro2
							.col-md-1
								.cuadro
									%h2
										=t('module.home.carrucel.restoran-titulo')
						.row.visible-sm
							.col-md-1
								.cuadro2-sm
							.col-md-1
								.cuadro-sm
									%h2
										=t('module.home.carrucel.restoran-titulo')
						.row.visible-md.visible-lg
							.col-md-1.col-md-offset-7{style:"padding-left:100px;"}
								.cuadro3
									%h5
										=t('module.home.carrucel.restoran-texto')
						.row.visible-sm
							.col-md-1
								.cuadro3-sm
									%h6
										=t('module.home.carrucel.restoran-texto')
				.item#item5
					.image-carousel-6
						.row.visible-md.visible-lg
							.col-md-1.col-md-offset-6{style:"padding-left:100px;"}
								.cuadro2
							.col-md-1
								.cuadro
									%h2
										=t('module.home.carrucel.tarifas-titulo')
						.row.visible-sm
							.col-md-1
								.cuadro2-sm
							.col-md-1
								.cuadro-sm
									%h2
										=t('module.home.carrucel.tarifas-titulo')
						.row.visible-md.visible-lg
							.col-md-1.col-md-offset-7{style:"padding-left:100px;"}
								.cuadro3
									%h5
										=t('module.home.carrucel.tarifas-texto')
						.row.visible-sm
							.col-md-1
								.cuadro3-sm
									%h6
										=t('module.home.carrucel.tarifas-texto')
				.item#item6
					.image-carousel-5
						.row.visible-md.visible-lg
							.col-md-1.col-md-offset-6{style:"padding-left:100px;"}
								.cuadro2
							.col-md-1
								.cuadro
									%h2
										=t('module.home.carrucel.business-titulo')
						.row.visible-sm
							.col-md-1
								.cuadro2-sm
							.col-md-1
								.cuadro-sm
									%h2
										=t('module.home.carrucel.business-titulo')
						.row.visible-md.visible-lg
							.col-md-1.col-md-offset-7{style:"padding-left:100px;"}
								.cuadro3
									%h5
										=t('module.home.carrucel.business-texto')
						.row.visible-sm
							.col-md-1
								.cuadro3-sm
									%h6
										=t('module.home.carrucel.business-texto')


			%a.carousel-control.left.carrusel-controls{"data-slide" => "prev", href: "#myCarousel", style:"background-color:none;"}
				%span.glyphicon.glyphicon-chevron-left{ style: "left: 40px;" }
			%a.carousel-control.right.carrusel-controls{"data-slide" => "next", href: "#myCarousel"}
				%span.glyphicon.glyphicon-chevron-right{ style: "right: 40px;" }

.form-reservation
	#form-reservation.hidden-xs.hidden-sm
		%center
			= form_tag({controller: "staticpage", action: "reservas"}, {class: "input-group bar-reservation"}) do
				.col-md-4-col-sm-4.col-xs-4
					.row
						.col-md-1
							%i.fa.fa-calendar.fa-2x.calendar-input
						.col-md-10
							= text_field_tag :check_in, "#{DateTime.now.strftime("%d/%m/%Y")}", :class=>'form-control date', :type => "text", :placeholder=>'Check-in', id:"check-in", readonly: true
				.col-md-4.col-sm-4.col-xs-4
					.row
						.col-md-1
							%i.fa.fa-calendar.fa-2x.calendar-input
						.col-md-10
							- cout = DateTime.now+1
							= text_field_tag :check_out, "#{cout.strftime("%d/%m/%Y")}", :class=>'form-control date', :type => "text", :placeholder=>'Check-out', id: "check-out", readonly: true
				.col-md-4.col-sm-4.col-xs-12
					= button_tag(type: 'submit', class: "form-control boton-reserva btn btn-success") do
						%i.fa.fa-tag
						=t('module.habitaciones.reserva')
	#form-reservation.hidden-lg.hidden-md
		%center
			= link_to new_reservar_path, class: "form-control boton-reserva btn btn-success", style:"width: 50%;" do
				%i.fa.fa-tag
					=t('module.habitaciones.reserva')
