%script{ src:"//platform.twitter.com/widgets.js" }
#restoran
	#myCarousel.carousel.slide
		.carousel-inner.hidden-xs.hidden-sm
			.item.active
				.item1
			.item
				.item2
			.item
				.item3
			.item
				.item4
		%a.carousel-control.left.carrusel-controls.hidden-xs.hidden-sm{"data-slide" => "prev", href: "#myCarousel", style:"background-color:none;"} 
			%span.glyphicon.glyphicon-chevron-left{ style: "left: 40px; top: 200px;" }
		%a.carousel-control.right.carrusel-controls{"data-slide" => "next", href: "#myCarousel"}
			%span.glyphicon.glyphicon-chevron-right{ style: "right: 40px; top: 200px;" }
		.container#wraper
			.container#description
				%row
					.col-lg-8.col-md-8.col-sm-8.col-xs-12
						%h1 MirasolRest
						%hr
						%p
							= raw t("module.restoran.parrafo1")
						%p 
							= raw t("module.restoran.parrafo2")
						%p 
							= raw t("module.restoran.parrafo3")
						%br
						%center									
							= raw t("module.restoran.parrafo5")
							%br
							%br
							= raw t("module.restoran.parrafo6")
							%br
							%br
							%h3#frase{ style: "color:#e6c44c; text-align:center;"}								
								= raw t("module.restoran.parrafo4")							
								

							
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						%h3= t("module.general.opiniones")
						%blockquote 
							= raw t("module.restoran.testimonio1")
						%a.btn.btn-success.boton-reserva{ href: "https://www.tripadvisor.com.ve/UserReviewEdit-g316095-d5999551-a_placetype.10022-ehttp:__2F____2F__www__2E__tripadvisor__2E__com__2E__ve__2F__Restaurant__5F__Review__2D__g316095__2D__d5999551__2D__Reviews__2D__MirasolRest__2D__Punto__5F__Fijo__5F__Paraguana__5F__Peninsula__5F__Central__5F__Western__5F__Region__2E__html-MirasolRest-Punto_Fijo_Paraguana_Peninsula_Central_Western_Region.html", target: "_blank"}
							= t("module.general.btn-opinion")
					.col-lg-4.col-md-4.col-sm-4.col-xs-12#twitter
						%center
							%a.twitter-timeline{"data-widget-id" => "441105502953435136", :href => "https://twitter.com/MirasolRest"} Tweets por @MirasolRest
			= render "footer"

:javascript
	!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");



