#salones
	.container-bamboo
		.row
			.col-lg-4-col-md-4.col-sm-4.col.col-xs-12
				%center 
					%h4 
						AGAVE 
					.thumbnail.thumb-two
						.reservation
							%center 
								%a{:href => "#{new_evento_path}"} 
									%P= t("module.habitaciones.reserva")
						= link_to (image_tag "salon_agave/agave.jpg", class: "image-thumb"), "#"
						.caption
							.col-md-12.col-xs-12.icons-thumb
								.col-md-2.col-xs-2.icon
									%center
										= image_tag "icons/montaje-01.png"
								.col-md-2.col-xs-2.icon
									%center
										= image_tag "icons/montaje-02.png"
								.col-md-2.col-xs-2.icon
									%center
										= image_tag "icons/montaje-03.png"
								.col-md-2.col-xs-2.icon
									%center
										= image_tag "icons/montaje-04.png"
								.col-md-2.col-xs-2.icon
									%center
										= image_tag "icons/montaje-05.png"
								.col-md-2.col-xs-2.icon
									%center	
										= image_tag "icons/montaje-06.png"
							%br/ 
							%p.description 
								= t("module.salones.agave.description") 
							.view-details
								%br/ 

			.col-lg-4-col-md-4.col-sm-4.col.col-xs-12
				%center 
					%h4 
						ARENA
					.thumbnail.thumb-two
						.reservation
							%center 
								%a{:href => "#{new_evento_path}"} 
									%P= t("module.habitaciones.reserva")
						= link_to (image_tag "salon_arena/1.jpg", class: "image-thumb"), "#"
						.caption
							.col-md-12.col-xs-12.icons-thumb
								.col-md-2.col-xs-2.icon
									%center
										= image_tag "icons/montaje-01.png"
								.col-md-2.col-xs-2.icon
									%center
										= image_tag "icons/montaje-02.png"
								.col-md-2.col-xs-2.icon
									%center
										= image_tag "icons/montaje-03.png"
								.col-md-2.col-xs-2.icon
									%center
										= image_tag "icons/montaje-04.png"
								.col-md-2.col-xs-2.icon
									%center
										= image_tag "icons/montaje-05.png"
								.col-md-2.col-xs-2.icon
									%center	
										= image_tag "icons/montaje-06.png"
							%br/ 
							%p.description 
								= t("module.salones.arena.description")
							.view-details
								%br/ 

			.col-lg-4-col-md-4.col-sm-4.col.col-xs-12
				%center 
					%h4 
						AZARO
					.thumbnail.thumb-two
						.reservation
							%center 
								%a{:href => "#{new_evento_path}"} 
									%P= t("module.habitaciones.reserva")
						= link_to (image_tag "salon_azaro/1.jpg", class: "image-thumb"), "#"
						.caption
							.col-md-12.col-xs-12.icons-thumb
								.col-md-2.col-xs-2.icon
									%center
										= image_tag "icons/montaje-01.png"
								.col-md-2.col-xs-2.icon
									%center
										= image_tag "icons/montaje-02.png"
								.col-md-2.col-xs-2.icon
									%center
										= image_tag "icons/montaje-03.png"
								.col-md-2.col-xs-2.icon
									%center
										= image_tag "icons/montaje-04.png"
								.col-md-2.col-xs-2.icon
									%center
										= image_tag "icons/montaje-05.png"
								.col-md-2.col-xs-2.icon
									%center	
										= image_tag "icons/montaje-06.png"
							%br/  
							%p.description
								= t("module.salones.azaro.description")
							.view-details
								%br/ 
