#ver_habitaciones
	.container-bamboo
		.contacto-container.container		
			.row
				.col-md-7
					#CarouselHabitaciones.carousel.slide
						.carousel-inner
							-if @habitacion == "1" #suite deluxe
								.active.item#item1
									.suite_deluxe1
								.item
									.suite_deluxe2
								.item
									.suite_deluxe3
								.item
									.suite_deluxe4
								.item
									.suite_deluxe5
							-elsif @habitacion == "2" #suite estandar
								.active.item#item1
									.suite_estandar2
								.item
									.suite_estandar1
								.item
									.suite_estandar3
								.item
									.suite_estandar4
							-elsif @habitacion == "3" #junior suite
								.active.item#item1
									.suite_junior1
								.item
									.suite_junior2
								.item
									.suite_junior3
							-elsif @habitacion == "4" #habitacion doble
								.active.item#item1
									.hab_doble1
								.item
									.hab_doble2
								.item
									.hab_doble3
							-elsif @habitacion == "5" #habitacion estandar
								.active.item#item1
									.hab_estandar1
								.item
									.hab_estandar2
						%a.carousel-control.left.carrusel-controls{"data-slide" => "prev", href: "#CarouselHabitaciones", style:"background-color:none;"} 
							%span.glyphicon.glyphicon-chevron-left{ style: "left: 40px;" }
						%a.carousel-control.right.carrusel-controls{"data-slide" => "next", href: "#CarouselHabitaciones"}
							%span.glyphicon.glyphicon-chevron-right{ style: "right: 40px;" }				
				.col-md-5
					%h1
						= t("module.verhabitaciones.titulo"+@habitacion)
					%hr
					%p{align:"justify"} 
						= t("module.verhabitaciones.detalle"+@habitacion) 
					.row
						.col-md-6.col-lg-6.col-sm-6 
							%p 
								.icon-hab
									= image_tag "icons/wifi.png", width: "35px"
								.text-icon-hab
									Zona Wi-fi
							%p 
								.icon-hab
									= image_tag "icons/tv.png", width: "35px"
								.text-icon-hab
									TV por Cable
							%p 
								.icon-hab
									= image_tag "icons/nevera.png", width: "35px"
								.text-icon-hab
									Nevera
						.col-md-6.col-lg-6.col-sm-6 		
							%p 
								.icon-hab
									= image_tag "icons/telefono.png", width: "35px"
								.text-icon-hab
									Teléfono
							%p 
								.icon-hab
									= image_tag "icons/cajafuerte.png", width: "35px"
								.text-icon-hab
									Caja Fuerte
							-if @habitacion == "1"
								%p 
									.icon-hab
										= image_tag "icons/cocina.png", width: "35px"
									.text-icon-hab
										Kitchenette
						.col-md-12						
							= link_to new_reservar_path, class: "form-control boton-reserva btn btn-success", style:"width:100%;margin-top:70px;height:50px;" do
								%h4
									%i.fa.fa-tag
									=t('module.habitaciones.reserva')