!!!
%html{lang: "en"}
  %head
    %meta{charset: "UTF-8"}/
    %title Document
  %body
    %div{style: "font-family: \"Open Sans\", sans-serif;"}
      %div{style: "background:#411A1A;padding:10px;font-family: 'Open Sans', sans-serif;"}
        %h1{style: "color:#d6e03d;"} Mirasol Hotel Boutique
      %div{style: "background:#d6e03d;padding:5px;padding-left:10px;"}
        %h3{style: "color:#411A1A;"} Registro de Eventos
      %div
        %table{border: "1", style: "width:100%;border:1px solid black;border-collapse:collapse;"}
          %tr{style: "background:#E6E6E6;"}
            %th Nombre
            %th Cedula/rif
            %th Empresa
            %th Fecha de Solicitud
            %th Email
            %th Telefono
          %tr
            %td= @evento.nombre
            %td= @evento.cedula
            %td= @evento.empresa
            %td= @evento.fecha_solicitud
            %td= @evento.email
            %td= @evento.telefono
          %tr{style: "background:#E6E6E6;"}
            %th{colspan: "2"} Salón
            %th{colspan: "2"} Tipo de Evento
            %th{colspan: "2"} Colores/motivo
          %tr
            %td{colspan: "2"}= @evento.salon
            %td{colspan: "2"}= @evento.tipo_evento
            %td{colspan: "2"}= @evento.colores_motivos
          %tr{style: "background:#E6E6E6;"}
            %th N° de Invitados
            %th Fecha de Inicio
            %th Fecha de Culminación
            %th Hora de Inicio
            %th Hora de Culminación
            %th Tipo de Montaje
          %tr
            %td
              = @evento.cantidad_personas
              Personas
            %td= @evento.fecha_inicio
            %td= @evento.fecha_fin
            %td= @evento.hora_inicio
            %td= @evento.hora_culminacion
            %td= @evento.tipo_montaje
          %tr{style: "background:#E6E6E6;"}
            %th{colspan: "6"} Descripción del Evento
          %tr
            %td{colspan: "6"}= @evento.descripcion_evento
          %tr{style: "background:#E6E6E6;"}
            %th{colspan: "6"} Alimentos & Bebidas
          %tr{style: "background:#E6E6E6;"}
            %th Pasapalos Frios
            %th Pasapalos Caliente
            %th Menú Plateado
            %th Estaciones Termaticas
            %th Tipo Buffet
            %th Coffee Break Matutino
          %tr
            %td
              %center= @evento.opcion_seleccionada(@evento.pasapalos_frios)
            %td
              %center= @evento.opcion_seleccionada(@evento.pasapalos_calientes)
            %td
              %center= @evento.opcion_seleccionada(@evento.menu_plateado)
            %td
              %center= @evento.opcion_seleccionada(@evento.estaciones_tematicas)
            %td
              %center= @evento.opcion_seleccionada(@evento.tipo_buffet)
            %td
              %center= @evento.opcion_seleccionada(@evento.coffeebreak_matutino)
          %tr{style: "background:#E6E6E6;"}
            %th Coffee Break Vespertino
            %th Mesa de Quesos
            %th Descorche de Cocteles
            %th Descorche de Whisky
            %th Descorche de Vino/Champagne
            %th Descorche de Vodka/Ron
          %tr
            %td
              %center= @evento.opcion_seleccionada(@evento.coffeebreak_vespertino)
            %td
              %center= @evento.opcion_seleccionada(@evento.mesa_quesos)
            %td
              %center= @evento.opcion_seleccionada(@evento.descorche_cocteles)
            %td
              %center= @evento.opcion_seleccionada(@evento.descorche_whisky)
            %td
              %center= @evento.opcion_seleccionada(@evento.descorche_vino)
            %td
              %center= @evento.opcion_seleccionada(@evento.descorche_vodka)
          %tr{style: "background:#E6E6E6;"}
            %th Barra Coctelera
            %th Refrescos
            %th{colspan: "4", rowspan: "2", style: "background:#ffffff;"}
          %tr
            %td
              %center= @evento.opcion_seleccionada(@evento.barra_coctelera)
            %td
              %center= @evento.opcion_seleccionada(@evento.refrescos)
          %tr{style: "background:#E6E6E6;"}
            %th{colspan: "6"} Descoración del Evento
          %tr{style: "background:#E6E6E6;"}
            %th Arreglos Florales
            %th Globos
            %th Toldo
            %th Sonido
            %th Dj
            %th Grupo Musical
          %tr
            %td
              %center= @evento.opcion_seleccionada(@evento.arreglos_florales)
            %td
              %center= @evento.opcion_seleccionada(@evento.globos)
            %td
              %center= @evento.opcion_seleccionada(@evento.toldo)
            %td
              %center= @evento.opcion_seleccionada(@evento.sonido)
            %td
              %center= @evento.opcion_seleccionada(@evento.dj)
            %td
              %center= @evento.opcion_seleccionada(@evento.grupo_musical)
          %tr{style: "background:#E6E6E6;"}
            %th Podium
            %th Videobeam
            %th Iluminación
            %th Inflables
            %th Show de Magia
            %th Show de Baile
          %tr
            %td
              %center= @evento.opcion_seleccionada(@evento.podium)
            %td
              %center= @evento.opcion_seleccionada(@evento.videobeam)
            %td
              %center= @evento.opcion_seleccionada(@evento.iluminacion)
            %td
              %center= @evento.opcion_seleccionada(@evento.imflables)
            %td
              %center= @evento.opcion_seleccionada(@evento.show_magia)
            %td
              %center= @evento.opcion_seleccionada(@evento.show_baile)
          %tr{style: "background:#E6E6E6;"}
            %th Hora Loca
            %th{colspan: "5", rowspan: "2", style: "background:#ffffff;"}
          %tr
            %td
              %center= @evento.opcion_seleccionada(@evento.hora_loca)
          %tr{style: "background:#E6E6E6;"}
            %th{colspan: "6"} Personal en el Evento
          %tr{style: "background:#E6E6E6;"}
            %th{colspan: "2"} Barman
            %th{colspan: "2"} Animación Infantil
            %th{colspan: "2"} Mesoneros
          %tr
            %td{colspan: "2"}
              %center= @evento.opcion_seleccionada(@evento.barman)
            %td{colspan: "2"}
              %center= @evento.opcion_seleccionada(@evento.animacion_infantil)
            %td{colspan: "2"}
              %center= @evento.opcion_seleccionada(@evento.mesoneros)
          %tr{style: "background:#E6E6E6;"}
            %th{colspan: "6"} Otros Servicios
          %tr
            %td{colspan: "6"}= @evento.otros_servicios
          %tr{style: "background:#E6E6E6;"}
            %th{colspan: "6"} Observaciones Adicionales
          %tr
            %td{colspan: "6"}= @evento.observaciones_adicionales