#eventos
  .container-bamboo
    .container.contacto-container 
      %center
        %h1 
          =t("module.eventos.titulo")
        %p 
          =t("module.eventos.texto")

      = form_for @evento do |f|
        - if @evento.errors.any?
          .alert.alert-danger 
            %button{ type:"button", class: "close", "data-dismiss"=>"alert", "aria-hidden"=>"true"}
              %i.fa.fa-times
            %h3= "#{t('module.reservaciones.error', count: @evento.errors.count)}, #{t('module.reservaciones.validacion')}"
            %ul
              - @evento.errors.full_messages.each do |msg|
                %li= msg
        .row
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            %h3= t('module.reservaciones.datos_personales')
            .col-lg-6.col-md-6.col-sm-6.col-xs-12            
              .field
                = f.text_field :nombre, :class=>'contactos-input', :placeholder=> "#{t('module.eventos.nombre')}"
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              .field
                = f.text_field :cedula, :class=>'contactos-input', :placeholder=> "#{t('module.eventos.cedula')}"
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              .field
                = f.text_field :empresa, :class=>'contactos-input', :placeholder=> "#{t('module.eventos.empresa')}"
            .col-lg-6.col-md-6.col-sm-6.col-xs-12        
              .field
                = f.text_field :fecha_solicitud, :class=>'contactos-input', :placeholder=> "#{t('module.eventos.fecha_solicitud')}", :value=>"#{Date.today}", readonly: true
            .col-lg-6.col-md-6.col-sm-6.col-xs-12            
              .field
                = f.text_field :email, :class=>'contactos-input', :placeholder=> "#{t('module.eventos.email')}"
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              .field
                = f.text_field :telefono, :class=>'contactos-input', :placeholder=> "#{t('module.eventos.telefono')}"          
            %h3= t('module.eventos.selecciona_salon')
            .btn-group{"data-toggle" => "buttons"}
              %center
                .col-lg-4.col-md-4.col-sm-4.col-xs-12
                  %label.btn.btn-salon
                    #image-room-1
                      = f.radio_button :salon, "AGAVE"
                    %p AGAVE
                .col-lg-4.col-md-4.col-sm-4.col-xs-12
                  %label.btn.btn-salon
                    #image-room-2
                      = f.radio_button :salon, "ARENA"
                    %p ARENA
                .col-lg-4.col-md-4.col-sm-4.col-xs-12
                  %label.btn.btn-salon
                    #image-room-3
                      = f.radio_button :salon, "AZARO"
                    %p AZARO
            %h3
              = t('module.eventos.datos_evento')
            .col-lg-3.col-md-3.col-sm-3.col-xs-12
              .field
                = f.text_field :tipo_evento, :class=>'contactos-input', :placeholder=> "#{t('module.eventos.tipo_evento')}"
            .col-lg-3.col-md-3.col-sm-3.col-xs-12
              .field
                = f.text_field :colores_motivos, :class=>'contactos-input', :placeholder=> "#{t('module.eventos.colores_motivos')}"
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              .field
                = f.text_field :cantidad_personas, :class=>'contactos-input', :placeholder=> "#{t('module.eventos.cantidad_personas')}"
            .col-lg-3.col-md-3.col-sm-6.col-xs-12
              .field
                = f.text_field :fecha_inicio, :class=>'contactos-input', :placeholder=> "#{t('module.eventos.fecha_inicio')}", readonly: true
            .col-lg-3.col-md-3.col-sm-6.col-xs-12    
              .field
                = f.text_field :fecha_fin, :class=>'contactos-input', :placeholder=> "#{t('module.eventos.fecha_fin')}", readonly: true
            .col-lg-3.col-md-3.col-sm-6.col-xs-12 
              .field                
                = f.time_select :hora_inicio, { :combined => true, prompt: "#{t('module.eventos.hora_inicio')}", :minute_interval => 30,:time_separator => "",:start_hour => 0,:start_minute => 0,:end_hour => 23, :end_minute => 0, ampm: true  }, { :class=>'contactos-input' }
            .col-lg-3.col-md-3.col-sm-6.col-xs-12
              .field
                = f.time_select :hora_culminacion, { :combined => true, prompt: "#{t('module.eventos.hora_culminacion')}", :minute_interval => 30,:time_separator => "",:start_hour => 0,:start_minute => 0,:end_hour => 23, :end_minute => 0, ampm: true }, { :class=>'contactos-input' }
            %br.hidden-xs.hidden-md 
            %br.hidden-xs.hidden-md 
            %br.hidden-xs.hidden-md 
            %br.hidden-xs.hidden-md 
            %br.hidden-xs.hidden-md 
            %h3= t('module.eventos.tipo_montaje')
            .btn-group{"data-toggle" => "buttons"}
              %center
                .col-lg-2.col-md-2.col-sm-4.col-xs-12
                  %label.btn.btn-montaje
                    %center
                      #image-montaje-1
                        = f.radio_button :tipo_montaje, "Auditorio: 63 pax"
                    %p 
                      = t('module.eventos.montaje1')
                .col-lg-2.col-md-2.col-sm-4.col-xs-12
                  %label.btn.btn-montaje
                    %center
                      #image-montaje-2
                        = f.radio_button :tipo_montaje, "Reunion"
                    %p 
                      = t('module.eventos.montaje2')
                .col-lg-2.col-md-2.col-sm-4.col-xs-12
                  %label.btn.btn-montaje
                    %center
                      #image-montaje-3
                        = f.radio_button :tipo_montaje, "Tipo 'U': 28 pax"
                    %p 
                      = t('module.eventos.montaje3')
                .col-lg-2.col-md-2.col-sm-4.col-xs-12
                  %label.btn.btn-montaje
                    %center
                      #image-montaje-4
                        = f.radio_button :tipo_montaje, "Banquete: 40 pax"
                    %p 
                      = t('module.eventos.montaje4')
                .col-lg-2.col-md-2.col-sm-4.col-xs-12
                  %label.btn.btn-montaje
                    %center
                      #image-montaje-5
                        = f.radio_button :tipo_montaje, "Escuela: 30 pax"
                    %p 
                      = t('module.eventos.montaje5')
                .col-lg-2.col-md-2.col-sm-4.col-xs-12
                  %label.btn.btn-montaje
                    %center
                      #image-montaje-6
                        = f.radio_button :tipo_montaje, "Coctel: 73 pax"
                    %p 
                      = t('module.eventos.montaje6')
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
              .field
                = f.text_area :descripcion_evento, :class=>'contactos-textarea', :placeholder=> "#{t('module.eventos.descripcion_evento')}"
            
            %h3= t('module.eventos.alimentos')
            .col-lg-3.col-md-4.col-sm-6.col-xs-12
              .field
                %label.btn.btn-check          
                  = f.check_box :pasapalos_frios
                  %p 
                    %label
                      = t('module.eventos.pasapalos_f')
            .col-lg-3.col-md-4.col-sm-6.col-xs-12
              .field
                %label.btn.btn-check                    
                  = f.check_box :pasapalos_calientes
                  %p
                    %label
                      = t('module.eventos.pasapalos_c')
            .col-lg-3.col-md-4.col-sm-6.col-xs-12
              .field
                %label.btn.btn-check
                  = f.check_box :menu_plateado
                  %p
                    %label
                      = t('module.eventos.menu_plateado')
            .col-lg-3.col-md-4.col-sm-6.col-xs-12
              .field
                %label.btn.btn-check
                  = f.check_box :estaciones_tematicas
                  %p
                    %label
                      = t('module.eventos.estaciones_tematicas')
            .col-lg-3.col-md-4.col-sm-6.col-xs-12
              .field
                %label.btn.btn-check
                  = f.check_box :tipo_buffet
                  %p
                    %label
                      = t('module.eventos.tipo_buffet')
            .col-lg-3.col-md-4.col-sm-6.col-xs-12
              .field
                %label.btn.btn-check
                  = f.check_box :coffeebreak_matutino
                  %p
                    %label
                      = t('module.eventos.coffeebreak_matutino') 
            .col-lg-3.col-md-4.col-sm-6.col-xs-12
              .field
                %label.btn.btn-check
                  = f.check_box :coffeebreak_vespertino
                  %p
                    %label
                      = t('module.eventos.coffeebreak_vespertino')
            .col-lg-3.col-md-4.col-sm-6.col-xs-12
              .field
                %label.btn.btn-check
                  = f.check_box :mesa_quesos
                  %p
                    %label
                      = t('module.eventos.mesa_quesos')
            .col-lg-3.col-md-4.col-sm-6.col-xs-12
              .field
                %label.btn.btn-check
                  = f.check_box :descorche_cocteles
                  %p
                    %label
                      = t('module.eventos.descorche_cocteles')
            .col-lg-3.col-md-4.col-sm-6.col-xs-12
              .field
                %label.btn.btn-check
                  = f.check_box :descorche_whisky
                  %p
                    %label
                      = t('module.eventos.descorche_whisky')
            .col-lg-3.col-md-4.col-sm-6.col-xs-12
              .field
                %label.btn.btn-check
                  = f.check_box :descorche_vino
                  %p
                    %label
                      = t('module.eventos.descorche_vino')
            .col-lg-3.col-md-4.col-sm-6.col-xs-12
              .field
                %label.btn.btn-check
                  = f.check_box :descorche_vodka
                  %p
                    %label
                      = t('module.eventos.descorche_vodka')
            .col-lg-3.col-md-4.col-sm-6.col-xs-12
              .field
                %label.btn.btn-check
                  = f.check_box :barra_coctelera
                  %p
                    %label
                      = t('module.eventos.barra_coctelera')
            .col-lg-3.col-md-4.col-sm-6.col-xs-12
              .field
                %label.btn.btn-check
                  = f.check_box :refrescos
                  %p
                    %label
                      = t('module.eventos.refrescos')
        %h3= t('module.eventos.decoracion')
        .row{style:"padding:15px"} 
          .col-lg-2.col-md-4.col-sm-6.col-xs-12
            .field
              %label.btn.btn-check
                = f.check_box :arreglos_florales
                %p
                  %label
                    = t('module.eventos.arreglos_florales')
          .col-lg-2.col-md-4.col-sm-6.col-xs-12
            .field
              %label.btn.btn-check
                = f.check_box :globos
                %p
                  %label
                    = t('module.eventos.globos')
          .col-lg-2.col-md-4.col-sm-6.col-xs-12
            .field
              %label.btn.btn-check
                = f.check_box :toldo
                %p
                  %label
                    = t('module.eventos.toldo')
          .col-lg-2.col-md-4.col-sm-6.col-xs-12
            .field
              %label.btn.btn-check
                = f.check_box :sonido
                %p
                  %label
                    = t('module.eventos.sonido')
          .col-lg-2.col-md-4.col-sm-6.col-xs-12
            .field
              %label.btn.btn-check
                = f.check_box :dj
                %p
                  %label
                    = t('module.eventos.dj')
          .col-lg-2.col-md-4.col-sm-6.col-xs-12
            .field
              %label.btn.btn-check
                = f.check_box :grupo_musical
                %p
                  %label
                    = t('module.eventos.grupo_musical')
          .col-lg-2.col-md-4.col-sm-6.col-xs-12
            .field
              %label.btn.btn-check
                = f.check_box :podium
                %p
                  %label
                    = t('module.eventos.podium')
          .col-lg-2.col-md-4.col-sm-6.col-xs-12
            .field
              %label.btn.btn-check
                = f.check_box :videobeam
                %p
                  %label
                    = t('module.eventos.videobeam')
          .col-lg-2.col-md-4.col-sm-6.col-xs-12
            .field
              %label.btn.btn-check
                = f.check_box :iluminacion
                %p
                  %label
                    = t('module.eventos.iluminacion')
          .col-lg-2.col-md-4.col-sm-6.col-xs-12
            .field
              %label.btn.btn-check
                = f.check_box :imflables
                %p
                  %label
                    = t('module.eventos.imflables')
          .col-lg-2.col-md-4.col-sm-6.col-xs-12
            .field
              %label.btn.btn-check
                = f.check_box :show_magia
                %p
                  %label
                    = t('module.eventos.show_magia')
          .col-lg-2.col-md-4.col-sm-6.col-xs-12
            .field
              %label.btn.btn-check
                = f.check_box :show_baile
                %p
                  %label
                    = t('module.eventos.show_baile')
          .col-lg-2.col-md-4.col-sm-6.col-xs-12
            .field
              %label.btn.btn-check{style:"float:none"}
                = f.check_box :hora_loca
                %p
                  %label
                    = t('module.eventos.hora_loca')
        %h3= t('module.eventos.personal')
        .row{style:"padding:15px"}
          .col-lg-4.col-md-4.col-sm-4.col-xs-12
            .field
              %label.btn.btn-check{style:"float:none"}
                = f.check_box :barman
                %p
                  %label
                    = t('module.eventos.barman')
          .col-lg-4.col-md-4.col-sm-4.col-xs-12
            .field
              %label.btn.btn-check{style:"float:none"}
                = f.check_box :animacion_infantil
                %p
                  %label
                    = t('module.eventos.animacion_infantil')
          .col-lg-4.col-md-4.col-sm-4.col-xs-12
            .field
              %label.btn.btn-check{style:"float:none"}
                = f.check_box :mesoneros
                %p
                  %label
                    = t('module.eventos.mesoneros')
          %br/ 
          %br/ 
          .col-lg-6.col-md-6.col-sm-6.col-xs-12
            .field
              = f.text_area :otros_servicios, :class=>'contactos-textarea', :placeholder=> "#{t('module.eventos.otros_servicios')}"
          .col-lg-6.col-md-6.col-sm-6.col-xs-12
            .field
              = f.text_area :observaciones_adicionales, :class=>'contactos-textarea', :placeholder=> "#{t('module.eventos.observaciones_adicionales')}"
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          .actions
            = f.submit t('module.habitaciones.reserva'), class: "form-control boton-reserva btn btn-success"