%p#notice= notice

%p
  %b Nombre:
  = @evento.nombre
%p
  %b Cedula:
  = @evento.cedula
%p
  %b Empresa:
  = @evento.empresa
%p
  %b Fecha solicitud:
  = @evento.fecha_solicitud
%p
  %b Email:
  = @evento.email
%p
  %b Telefono:
  = @evento.telefono
%p
  %b Salon:
  = @evento.salon
%p
  %b Tipo evento:
  = @evento.tipo_evento
%p
  %b Cantidad personas:
  = @evento.cantidad_personas
%p
  %b Fecha inicio:
  = @evento.fecha_inicio
%p
  %b Fecha fin:
  = @evento.fecha_fin
%p
  %b Hora inicio:
  = @evento.hora_inicio
%p
  %b Hora culminacion:
  = @evento.hora_culminacion
%p
  %b Tipo montaje:
  = @evento.tipo_montaje
%p
  %b Descripcion evento:
  = @evento.descripcion_evento
%p
  %b Pasapalos frios:
  = @evento.pasapalos_frios
%p
  %b Pasapalos calientes:
  = @evento.pasapalos_calientes
%p
  %b Menu plateado:
  = @evento.menu_plateado
%p
  %b Tipo buffet:
  = @evento.tipo_buffet
%p
  %b Estaciones tematicas:
  = @evento.estaciones_tematicas
%p
  %b Coffeebreak matutino:
  = @evento.coffeebreak_matutino
%p
  %b Coffeebreak vespertino:
  = @evento.coffeebreak_vespertino
%p
  %b Mesa quesos:
  = @evento.mesa_quesos
%p
  %b Descorche cocteles:
  = @evento.descorche_cocteles
%p
  %b Descorche whisky:
  = @evento.descorche_whisky
%p
  %b Descorche vino:
  = @evento.descorche_vino
%p
  %b Descorche vodka:
  = @evento.descorche_vodka
%p
  %b Barra coctelera:
  = @evento.barra_coctelera
%p
  %b Refrescos:
  = @evento.refrescos
%p
  %b Colores motivos:
  = @evento.colores_motivos
%p
  %b Arreglos florales:
  = @evento.arreglos_florales
%p
  %b Globos:
  = @evento.globos
%p
  %b Toldo:
  = @evento.toldo
%p
  %b Sonido:
  = @evento.sonido
%p
  %b Dj:
  = @evento.dj
%p
  %b Grupo musical:
  = @evento.grupo_musical
%p
  %b Podium:
  = @evento.podium
%p
  %b Videobeam:
  = @evento.videobeam
%p
  %b Iluminacion:
  = @evento.iluminacion
%p
  %b Imflables:
  = @evento.imflables
%p
  %b Show magia:
  = @evento.show_magia
%p
  %b Show baile:
  = @evento.show_baile
%p
  %b Hora loca:
  = @evento.hora_loca
%p
  %b Barman:
  = @evento.barman
%p
  %b Animacion infantil:
  = @evento.animacion_infantil
%p
  %b Mesoneros:
  = @evento.mesoneros
%p
  %b Otros servicios:
  = @evento.otros_servicios
%p
  %b Observaciones adicionales:
  = @evento.observaciones_adicionales

= link_to 'Edit', edit_evento_path(@evento)
\|
= link_to 'Back', eventos_path
