!!!
%html{lang: "en"}
  %head
    %meta{charset: "UTF-8"}/
    %title Document
  %body
    %div{style: "font-family: \"Open Sans\", sans-serif;"}
      %div{style: "background:#411A1A;padding:10px;font-family: 'Open Sans', sans-serif;"}
        %h1{style: "color:#d6e03d;"} Mirasol Hotel Boutique
      %div{style: "background:#d6e03d;padding:5px;padding-left:10px;"}
        %h3{style: "color:#411A1A;"} Correo de Contácto.
      %div
        %table{border: "1", style: "width:100%;border:1px solid black;border-collapse:collapse;"}
          %tr{style: "background:#E6E6E6;"}
            %th Nombre
            %th Email
          %tr
            %td
              %center= @name
            %td
              %center= @email
          %tr{style: "background:#E6E6E6;"}
            %th{colspan: "2"} Comentario
          %tr 
            %td{colspan: "2"}
              = @comment