#reservas
  .container-bamboo
    .container.contacto-container 
      = form_for @reservar do |f|
        - if @reservar.errors.any?
          .alert.alert-danger 
            %button{ type:"button", class: "close", "data-dismiss"=>"alert", "aria-hidden"=>"true"}
              %i.fa.fa-times
            .error_explanation
              %h3= "#{t('module.reservaciones.error', count: @reservar.errors.count)}, #{t('module.reservaciones.validacion')}"
              %ul
                - @reservar.errors.full_messages.each do |msg|
                  %li= msg
        .row
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            %h3= t('module.reservaciones.datos_personales')
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              = f.text_field :nombre, :class=>'contactos-input', :placeholder=> "#{t('module.reservaciones.nombre')}"
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              = f.text_field :cedula, :class=>'contactos-input', :placeholder=> "#{t('module.reservaciones.cedula')}"
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              = f.text_field :email, :class=>'contactos-input', :placeholder=> "#{t('module.reservaciones.email')}"
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              = f.text_field :telefono, :class=>'contactos-input', :placeholder=> "#{t('module.reservaciones.telefono')}"
            %h3= t('module.reservaciones.datos_reservacion')
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              = f.select :adults, options_for_select([1, 2, 3, 4]), { include_blank: "#{t('module.reservaciones.adultos')}" }, { class: "contactos-input" }
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              = f.select :kids, options_for_select([1, 2, 3, 4]), { include_blank: "#{t('module.reservaciones.niños')}" }, { class: "contactos-input" }
            .row{ style: "margin: 0px;"}
              .col-lg-6.col-md-6.col-sm-6.col-xs-12
                = f.text_field :check_in,:class=>'contactos-input', :placeholder=> "#{t('module.reservaciones.cin')}", id: "check-in",  readonly: true
              .col-lg-6.col-md-6.col-sm-6.col-xs-12
                = f.text_field :check_out, :class=>'contactos-input', :placeholder=> "#{t('module.reservaciones.cout')}", id: "check-out"
              .col-lg-6.col-md-6.col-sm-6.col-xs-12
                = f.text_field :procedencia, :class=>'contactos-input', :placeholder=> "#{t('module.reservaciones.procedencia')}"
              .col-lg-6.col-md-6.col-sm-6.col-xs-12
                = f.text_field :motivo, :class=>'contactos-input', :placeholder=> "#{t('module.reservaciones.motivo')}"
          .col-lg-12.col-md-12.col-sm-12.col-xs-12{style: "margin-bottom: 10px;"}
            %h3= t('module.reservaciones.seleccionar_hab')
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
              = f.select :canthab, options_for_select([1, 2, 3, 4, 5]), { include_blank: "#{t('module.reservaciones.canthab')}" }, { class: "contactos-input" }
            .col-lg-12.col-md-12.col-sm-12.col-xs-12#select_habitacion
              :javascript
                $("#reservar_canthab").change(function(){
                  $(".input_hab").remove();
                  for(var i = 0; i<this.value; i++) {
                    $("#select_habitacion").append('<select class="contactos-input input_hab" id="reservar_habitacion" name="reservar[habitacion][]"><option value="Hab. Estándar">Hab. Estándar</option><option value="Hab. Doble">Hab. Doble</option><option value="Suite Estándar">Suite Estándar</option><option value="Junior Suite">Junior Suite</option><option value="Suite Deluxe">Suite Deluxe</option></select>')
                  }
                });
          .col-lg-12.col-md-12.col-sm-12.col-xs-12{style: "margin-bottom: 10px;"}
            %h3= t('module.reservaciones.pago')
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
              = f.select :metodo_pago, options_for_select(["Tarjeta de Crédito", "Depósito y/ó Transferencia"]), { include_blank: "#{t('module.reservaciones.metodo_pago')}" }, { class: "contactos-input", id: "select_pago" }
              /= f.date_select(:tcexpired, order: [:month, :year], use_month_numbers: true, start_year: Time.now.year, end_year: Time.now.year+10)
            #cod_pago          
              :javascript
                $("#select_pago").change(function(){
                  if(this.value=='Depósito y/ó Transferencia'){
                    $('#cod_pago').html('<center><h4><span style="color: #d6e03d;">BOD CUENTA CORRIENTE</span> Nro. 0116-0159-65-0014250055</h4><h4><span style="color: #d6e03d;">EXTERIOR CUENTA CORRIENTE</span> Nro. 0115-0085-45-3000498489</h4><h4><span style="color: #d6e03d;">BANESCO CUENTA CORRIENTE</span> Nro. 0134-0087-31-0873163784</h4><h4><span style="color: #d6e03d;">Razón Social: </span> HOTEL MIRASOL SUITES, C.A</h4><h4><span style="color: #d6e03d;">R.I.F: </span>J-40033808-5</h4><h5><span style="color: red;">Importante: </span>El HOTEL MIRASOL SUITES, C.A no reembolsará dinero luego de haber cancelado su reserva.</h5><br>Debe enviar comprobante de pago y datos personales a través del correo reservaciones@mirasolsuites.com<center>');
                  }else if(this.value=='Tarjeta de Crédito'){
                    $('#cod_pago').html('<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><input class="contactos-input" id="reservar_tcname" name="reservar[tcname]" placeholder="Nombre del Tarjetahabiente (Opcional)" type="text"></div><div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><input class="contactos-input" id="reservar_tcnumber" name="reservar[tcnumber]" placeholder="Número (Opcional)" type="text"><label for="reservar_Fecha de expiración: "></div><div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="tcexpired">Fecha de Vencimiento: </label> <input id="reservar_tcexpired_3i" name="reservar[tcexpired(3i)]" type="hidden" value="1"><select id="reservar_tcexpired_2i" name="reservar[tcexpired(2i)]" ><option value="1">1</option><option value="2">2</option><option value="3">3</option><option selected="selected" value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option></select> <select id="reservar_tcexpired_1i" name="reservar[tcexpired(1i)]"><option selected="selected" value="2014">2014</option><option value="2015">2015</option><option value="2016">2016</option><option value="2017">2017</option><option value="2018">2018</option><option value="2019">2019</option><option value="2020">2020</option><option value="2021">2021</option><option value="2022">2022</option><option value="2023">2023</option><option value="2024">2024</option></select></div><div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><input class="contactos-input" id="reservar_tcverification" name="reservar[tcverification]" placeholder="Código de Seguridad (3 últimos dígitos parte posterior)" type="text"></div><div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><select class="contactos-input" id="reservar_tctype" name="reservar[tctype]"><option value="">Tipo de tarjeta (Opcional)</option><option value="Visa">Visa</option><option value="Master Card">Master Card</option><option value="American Express">American Express</option></select></div><div class="row"></div><div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><center><h5><span style="color: red;">Importante: </span>El HOTEL MIRASOL SUITES, C.A no reembolsará dinero luego de haber cancelado su reserva.</h5><br>Debe enviar comprobante de pago y datos personales a través del correo reservaciones@mirasolsuites.com<center></div></div>');
                  }else{
                    $('#cod_pago').html("");
                  }
                });
        %br    
        .row
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            = f.submit t('module.habitaciones.reserva_button'), class: "form-control boton-reserva btn btn-success"

  :javascript
    $( "input:checked").parent().parent().addClass("active")
    
    