%h1 Listing reservars

%table
  %tr
    %th Nombre
    %th Cedula
    %th Email
    %th Telefono
    %th Adults
    %th Kids
    %th Check in
    %th Check out
    %th Habitacion
    %th
    %th
    %th

  - @reservars.each do |reservar|
    %tr
      %td= reservar.nombre
      %td= reservar.cedula
      %td= reservar.email
      %td= reservar.telefono
      %td= reservar.adults
      %td= reservar.kids
      %td= reservar.check_in
      %td= reservar.check_out
      %td= reservar.habitacion
      %td= link_to 'Show', reservar
      %td= link_to 'Edit', edit_reservar_path(reservar)
      %td= link_to 'Destroy', reservar, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Reservar', new_reservar_path
