%p#notice= notice

%p
  %b Nombre:
  = @reservar.nombre
%p
  %b Cedula:
  = @reservar.cedula
%p
  %b Email:
  = @reservar.email
%p
  %b Telefono:
  = @reservar.telefono
%p
  %b Adults:
  = @reservar.adults
%p
  %b Kids:
  = @reservar.kids
%p
  %b Check in:
  = @reservar.check_in
%p
  %b Check out:
  = @reservar.check_out
%p
  %b Habitacion:
  = @reservar.habitacion

= link_to 'Edit', edit_reservar_path(@reservar)
\|
= link_to 'Back', reservars_path
