/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require_self
*= require bootstrap-datepicker
*= require_tree .
*= require bootstrap-datepicker
*/
@import "twitter/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {

}

.field_with_errors {
	input {
		border-color: red;
	}

	select {
		border-color: red;
	}
}

.alert {
	margin-bottom: 0px;
	margin-top: 20px;
}

.page-header {
	.div-page {
		padding-left: 0px;
		padding-right: 0px;
	}

	hr {
		border-color: #780032;
		width: 300px;
		margin-top: 5px;
		margin-bottom: 10px;
	}

	h4 {
		font-family: 'Open Sans', sans-serif;
		margin-bottom: 0px;
		font-size: 10pt;
	}
}

.div-header {
	margin-top: 20px;
}

.page-header .row {
	margin: 0px;
}

.locale {
	position: absolute;
	left: 2%;
	top: 0px;
	z-index: 99999;

	.btn:active, .btn.active {
		outline: 0;
		background-color: #780032;
		-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
		box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	}

	.btn-locale {
		background-color: #535353;
		border-radius: 0px;
	}

	a{
		font-family: 'Open Sans', sans-serif;
		text-decoration: none;
		color: white;
	}

	a:hover {
		color: white;
	}

}

footer {
  width: 100%;
}

#footer {
	font-family: 'Raleway', sans-serif;
	background: rgba(0, 0, 0, 0.78);
	color: white;
	padding-top: 20px;
}

#footer span {
	color: white;
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
}

#footer a {
	text-decoration: none;
}

#footer-body{
	background: #411A1A;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #D8D8D8;
	border-top: 5px solid #321515;
	font-family: 'Open Sans', sans-serif;
	font-size: 11pt;
}

#footer-body h3{
	font-family: 'Open Sans', sans-serif;
}

.t-advisor {
	position: absolute;
	top: -15px;
	right: 0;

	ul {
		margin: 0;
		list-style-type: none;
		li {
			display: inline-block;
			position: relative;
			right: 30px;
		}
	}
}


.navbar-default {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: bold;
	background-color: rgba(0, 0, 0, 0.78);
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	margin-bottom: 0px;
	border-radius: 0px;
	z-index: 0;
	box-shadow: 0px -10px 20px #c0c0c0;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-default > .active{
	background-color: #780032;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #ffffff;
	background-color: #780032;
}

.navbar-default .navbar-nav > li > a {
	color: #ffffff;
	width: 100%;
}

.navbar-default .navbar-nav > li:hover {
	background-color: #ffffff;
	color:#262800;
}


.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}

.navbar-default .navbar-toggle {
	background-color: #780032;
	border-color: #780032;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #411A1A;
}

.navbar-default .navbar-brand {
	color: #ffffff;
}

.nav-socials {
	padding-left: 0px;
	list-style: none;

	li {
		display: inline-block;
	}

	div {
		display: inline-block;
	}
}

.navbar-default .nav-socials > li:hover {
	background-color: rgba(51, 51, 51, 0);
}

.navbar-default .nav-socials > li > a {
	padding: 0px;
}

/*Phone*/
@media screen and (max-height: 768px) {
	.page-header {
		position: relative;
		text-align: center;
		margin-top: 0px;
		padding-top: 30px;
		margin-bottom: 0px;
		padding-bottom: 15px;
		border-bottom: 0px;
	}

	.page-header h1 {
		margin: 5px;
		color: #780032;
		height: 33px;
		font-size: 35pt;
		font-family: 'Open Sans', sans-serif;
	}

	#logo-header {
		position: relative;
		left: -4px;
		background: image-url("logo-complete.png") center;
		background-size: 300px 75px;
		background-repeat: no-repeat;
		max-height: 83px;
		max-width: 300px;
		height: 83px;
		width: 300px;
	}

	#footer {
		font-size: 12px;
	}

	#footer span {
		font-size: 14px;
	}

	.navbar-collapse {
		padding: 0px;
	}

	.in ul {
		width: 100%;
	}

	.collapsing ul {
	width: 100%;
	}

}

/*Desktop and tablet*/
@media screen and (min-width: 768px) {
	.page-header {
		text-align: center;
		margin-top: 0px;
		padding-top: 5px;
		margin-bottom: 0px;
		padding-bottom: 15px;
		border-bottom: 0px;
	}

	.page-header h1 {
		margin: 0px;
		color: #780032;
		height: 45px;
		font-size: 40pt;
		font-family: 'Open Sans', sans-serif;
	}

	.page-header small {
		color: #999999;
		font-size: 10pt;
		font-family: 'Open Sans', sans-serif;
	}

	.div-page {
		small {
			font-size: 10pt;
			font-family: 'Open Sans', sans-serif;
			color: #780032;
		}
	}

	.error {
		color: red;
		margin-bottom: 20px;
	}

	#logo-header {
		background: image-url("logo-complete.png") center;
		background-size: 300px 75px;
		background-repeat: no-repeat;
		max-height: 83px;
		max-width: 300px;
		height: 83px;
		width: 327px;
	}

	.navbar-default {
		height: 50px;
	}

}

/*phone landscape*/
@media only screen and (min-device-width : 320px) and (max-device-width : 768px) and (orientation : landscape) {
}


.footer-logo {
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	border-bottom: 0px;
}

.footer-logo h1 {
	margin: 0px;
	color: #780032;
	height: 45px;
	font-size: 40pt;
	font-family: 'Open Sans', sans-serif;
}

.footer-logo small {
	color: #999999;
	font-size: 10pt;
	font-family: 'Open Sans', sans-serif;
}


.mirasol-footer{
	background: image-url('mirasol-footer.png') center;
	background-repeat: no-repeat;
	background-size: 300px 60px;
	height: 65px;
	width: 300px;
}

.calendar-input{
	background: #BDBDBD;
	color:#585858;
	padding-left: 2px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 5px;
}

.boton-reserva {
    width: 100%;
    margin-bottom: 15px;
    color: black;
}
