#contacto {
	width: 100%;
 	height: 100%;
	background: image-url("wood_pattern.png") repeat;
}

.contacto-container{
	background-color: rgba(0, 0, 0, 0.7);
	padding: 10px;
	width: 90%;
	color:#D8D8D8;
	box-shadow: 0px 0px 5px #000;
}

.contactos-box-min{
	padding-left: 15px;
	padding-right: 20px;	

}

.contactos-input{
	width: 100%;
	padding:10px; 
	margin-bottom: 10px;
	background: #000;
	border: 2px solid #780032;
	color: #A5DF00;
}

.contactos-textarea{
	width: 100%;
	height: 130px;
	padding:10px; 
	background: #000;
	margin-bottom: 10px;
	border: 2px solid #780032;
	color: #A5DF00;
}

.btn-enviar{
	background: #A5DF00;/* F 3.6+ */
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#A5DF00), to(#5FB404));
	background: -webkit-linear-gradient(#A5DF00, #5FB404);
	background: -moz-linear-gradient(#A5DF00, #5FB404);
	background: -o-linear-gradient(#A5DF00, #5FB404);
	background: linear-gradient(#A5DF00, #5FB404);/* IE 10+ *//* FF 3.6+ *//* Safari 5.1+, Chrome 10+ *//* ESTILO ESTANDAR */
}

#map_canvas{
	width:100%; 
	height:500px;
}

@media (max-width: 320px){ 
	#map_canvas{
		margin-top: 10px;
	 	height: 300px;
	}
}