#eventos{
	width: 100%;
  	height: 100%;
	background: image-url("wood_pattern.png") repeat;
}

input[type=radio] {
    display:none;
  }

  input[type=checkbox] {
    float: left;
    margin-top: 13px;
  }


.btn-group {
    width: 100%;
  }

  .btn-salon{
    border-radius: 0px;
    padding: 6px;
    width: 100%;
    max-width: 300px;
    margin-top: 10px;
    background: #333333;

    p {
      padding-top: 10px;
      margin-bottom: 0px;
      color: white;
      font-family: 'Open Sans', sans-serif;
    }
  }

.btn-montaje{
    border-radius: 0px;
    padding: 6px;
    width: 100%;
    max-width: 300px;
    margin-top: 10px;
    margin-bottom: 30px;
    background: #333333;


    p {
      padding-top: 10px;
      margin-bottom: 0px;
      color: white;
      font-family: 'Open Sans', sans-serif;
    }
  }

  .btn-check{
    border-radius: 0px;
    padding: 6px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
    background: #333333;


    p {
      padding-top: 10px;
      margin-bottom: 0px;
      color: white;
      font-family: 'Open Sans', sans-serif;
    }
  }


  .active {
    background: #780032;
  }

  #image-room-1 {
    background: image-url("salon_agave/1.jpg") center no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 180px;
    max-width: 300px;
  }

  #image-room-2 {
    background: image-url("salon_arena/1.jpg") center no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 180px;
    max-width: 300px;
  }

  #image-room-3 {
    background: image-url("salon_azaro/1.jpg") center no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 180px;
    max-width: 300px;
  }

   #image-montaje-1 {
    background: image-url("icons/montaje-01.png") center no-repeat;
    background-size: cover;
    width: 70px;
    height: 70px;
    min-height: 70px;
    max-width: 70px;
  }

  #image-montaje-2 {
    background: image-url("icons/montaje-02.png") center no-repeat;
    background-size: cover;
    width: 70px;
    height: 70px;
    min-height: 70px;
    max-width: 70px;
  }
  #image-montaje-3 {
    background: image-url("icons/montaje-03.png") center no-repeat;
    background-size: cover;
    width: 70px;
    height: 70px;
    min-height: 70px;
    max-width: 70px;
  }
  #image-montaje-4 {
    background: image-url("icons/montaje-04.png") center no-repeat;
    background-size: cover;
    width: 70px;
    height: 70px;
    min-height: 70px;
    max-width: 70px;
  }
  #image-montaje-5 {
    background: image-url("icons/montaje-05.png") center no-repeat;
    background-size: cover;
    width: 70px;
    height: 70px;
    min-height: 70px;
    max-width: 70px;
  }
  #image-montaje-6 {
    background: image-url("icons/montaje-06.png") center no-repeat;
    background-size: cover;
    width: 70px;
    height: 70px;
    min-height: 70px;
    max-width: 70px;
 }


