#habitaciones {
	width: 100%;
 	height: 100%;
	/*padding-top: 20px;
	padding-bottom: 20px;*/
	background: image-url("wood_pattern.png") repeat;
	padding:0;
}

.container-bamboo{
		background-position: -100px 0px;
		padding: 20px;
	}

@media (min-width: 992px){ 
	.container-bamboo{
		background: image-url("bamboo.png") no-repeat;
		background-attachment: fixed;
		background-position: -100px 0px;
		padding: 20px;
	}
}

#habitaciones {
	h1 {
		padding-top: 45%;
		color: #ffffff;
		font-size: 23pt;
		font-family: 'Open Sans', sans-serif;
	}

	h4 {
		color: #ffffff;
		font-family: 'Open Sans', sans-serif;
	}

	span {
		color: #d6e03d;;
		font-family: 'Open Sans', sans-serif;
	}
}

.thumbnail {
	position: relative;
	border: none;
	max-width: 500px;
	margin-bottom: 40px;
	box-shadow: 0px 0px 15px #000000;

	.image-thumb {
		width: 100%;
	}

	.icons-thumb {
		list-style-type: none;
		margin-top: 1px;
		margin-bottom: 5px;
		text-align: left;
		padding: 0px;

		img {
			width: 28px;
		}

		.icon {
			border: 1px solid white;
			background-color: #d0d0d0;
			padding: 0px;
			padding-top: 5px;
			padding-bottom: 5px;
		}
	}

	.caption {
		padding: 0px;
		.description {
			font-family: 'Open Sans', sans-serif;
			margin-top: 15px;
			text-align: justify;
		}

		.view-details {
			font-family: 'Open Sans', sans-serif;
			background-color: #780032;
		}

		a {
			text-decoration: none;
			color: white;
		}

		a:hover > .view-details{
			background-color: rgba(205, 51, 63, 0.88);
		}
	}
}

.reservation {
	opacity: 0;
	position: absolute;
	width: 90px;
	height: 90px;
	border-radius: 100%;
	border: 5px solid #d6e03d;
	background-color: #780032;
	right: -5px;
	top: -15px;
	z-index: 1;
	
	P {
		position: absolute;
		top: 38%;
		left: 7px;
		margin-bottom: 0px;
		font-family: 'Open Sans', sans-serif;
		font-weight: bold;
		font-size: 12px;
		color: white;
	}
}

/*Desktop and tablet*/
@media screen and (min-width: 768px) {
	.thumb-one {
		max-width: 60%;
	}

	.thumb-two {
		max-width: 92%;
	}
}

/*Phone*/
@media screen and (max-height: 768px) {
}

@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1);}    
    50% {-webkit-transform: scale(1.2);}
    100% {-webkit-transform: scale(1);}
}

.thumbnail:hover > .reservation {
	opacity: 1;
	-webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  -ms-transition: all 400ms linear;
  transition: all 400ms linear;
  -webkit-animation: pulse 0.4s;
}
