#home {
	width: 100%;
  height: 100%;
}

.image-carousel-1{
	background: image-url('image-1.jpg') center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	width: 100%;
	padding-top: 300px;
}

.image-carousel-2{
	background: image-url('image-room-2.jpg') center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	width: 100%;
	padding-top: 300px;
}

.image-carousel-3{
	background: image-url('image-3.jpg') center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	width: 100%;
	padding-top: 300px;
}

.image-carousel-4{
	background: image-url('image-4.jpg') center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	width: 100%;
	padding-top: 300px;
}

.image-carousel-5{
	background: image-url('image-5.jpg') center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	width: 100%;
	padding-top: 300px;
}

.image-carousel-6{
	background: image-url('image-6.jpg') center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	width: 100%;
	padding-top: 300px;
}

.cuadro{
	font-family: 'Open Sans', sans-serif;
	background-color: rgba(0, 0, 0, 0.85);
	width: 700px;
	padding: 1px;
	padding-left: 10px;
	color: #E6E6E6;
	font-style:normal;
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);
	-ms-transform: skew(-20deg);
	transform: skew(-20deg);
	opacity: 0;
}

.cuadro2{
	font-family: 'Open Sans', sans-serif;
	background-color: #550024;
	background: -moz-linear-gradient(top, #780032, #350016);/* F 3.6+ */
	background: -ms-linear-gradient(top, #780032, #350016);/* IE 10+ */
	background: -webkit-linear-gradient(top, #780032, #350016);/* FF 3.6+ */
	background: -o-linear-gradient(top, #780032, #350016);/* Safari 5.1+, Chrome 10+ */
	background: linear-gradient(top, #780032, #350016);/* ESTILO ESTANDAR */
	width: 30px;
	height: 65px;
	padding: 5px;
	color: #ffffff;
	font-style:normal;
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);
	-ms-transform: skew(-20deg);
	transform: skew(-20deg);
	opacity: 0;
}

.cuadro3{
	margin-top: 1px;
	font-family: 'Open Sans', sans-serif;
	background-color: rgba(0, 0, 0, 0.7);
	width: 600px;
	padding: 3px;
	padding-left: 10px;
	color: #ffffff;
	font-style:normal;
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);
	-ms-transform: skew(-20deg);
	transform: skew(-20deg);
	opacity: 0;
}

.cuadro-sm{
	margin-left: 49%;
	padding: 1px;
	padding-left: 10px;
	background-color: rgba(0, 0, 0, 0.85);
	color:#fff;
	width: 500px;
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);
	-ms-transform: skew(-20deg);
	transform: skew(-20deg);
	opacity: 0;
}
.cuadro2-sm{
	margin-left: 45%;
	float:left;
	background-color: #550024;
	color:#fff;
	padding: 10px;
	width: 30px;
	height: 66px;
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);
	-ms-transform: skew(-20deg);
	transform: skew(-20deg);
	opacity: 0;
}

.cuadro3-sm{
	margin-left: 50%;
	margin-top: 1px;
	font-family: 'Open Sans', sans-serif;
	background-color: rgba(0, 0, 0, 0.7);
	width: 500px;
	padding: 3px;
	padding-left: 10px;
	color: #ffffff;
	font-style:normal;
	font-size: 10px;
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);
	-ms-transform: skew(-20deg);
	transform: skew(-20deg);
	opacity: 0;
}

.form-reservation {
	font-family: 'Trajan ProRegular';
	background-color: #411A1A;
	background: -moz-linear-gradient(top, #411A1A, #321515);/* F 3.6+ */
   background: -ms-linear-gradient(top, #411A1A, #321515);/* IE 10+ */
   background: -webkit-linear-gradient(top, #411A1A, #321515);/* FF 3.6+ */
   background: -o-linear-gradient(top, #411A1A, #321515);/* Safari 5.1+, Chrome 10+ */
   background: linear-gradient(top, #411A1A, #321515);/* ESTILO ESTANDAR */
	color: white;
	padding-top: 20px;
	border-top: 2px solid #663C3C;
	padding-top: 13px;
	z-index: 1;
  height: 60px;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.boton-reserva{
	background: #A5DF00;
	background: -moz-linear-gradient(top, #A5DF00, #5FB404);/* F 3.6+ */
   background: -ms-linear-gradient(top, #A5DF00, #5FB404);/* IE 10+ */
   background: -webkit-linear-gradient(top, #A5DF00, #5FB404);/* FF 3.6+ */
   background: -o-linear-gradient(top, #A5DF00, #5FB404);/* Safari 5.1+, Chrome 10+ */
   background: linear-gradient(top, #A5DF00, #5FB404);/* ESTILO ESTANDAR */
	color:#ffffff;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

#myCarousel > .carousel-inner > .active{
	.cuadro{
		opacity: 1;
		-webkit-animation: cuadroUno 0.5s;
		-moz-animation: cuadroUno 0.5s;
	}
	.cuadro2{
		opacity: 1;
		-webkit-animation: cuadroDos 0.3s;
		-moz-animation: cuadroDos 0.3s;
	}

	.cuadro3{
		opacity: 1;
		-webkit-animation: cuadroTres 1s;
		-moz-animation: cuadroTres 1s;
	}

	.cuadro-sm{
		opacity: 1;
		-webkit-animation: cuadroUno-sm 0.5s;
		-moz-animation: cuadroUno-sm 0.5s;
	}
	.cuadro2-sm{
		opacity: 1;
		-webkit-animation: cuadroDos-sm 0.1s;
		-moz-animation: cuadroDos-sm 0.1s;
	}

	.cuadro3-sm{
		opacity: 1;
		-webkit-animation: cuadroTres-sm 1s;
		-moz-animation: cuadroTres-sm 1s;
	}
}
/*///////////////////////////////////////////////////////////////////////*/
@keyframes cuadroDos
{
	from {margin-left: 300px;opacity: 0;}
	to {margin-left: 0px;opacity: 1;}
}

@-webkit-keyframes cuadroDos /* Safari and Chrome */
{
	from {margin-left: 300px;opacity: 0;}
	to {margin-left: 0px;opacity: 1;}
}

@keyframes cuadroUno
{
	from {margin-left: 300px;opacity: 0;}
	to {margin-left: 0px;opacity: 1;}
}

@-webkit-keyframes cuadroUno /* Safari and Chrome */
{
	from {margin-left: 300px;opacity: 0;}
	to {margin-left: 0px;opacity: 1;}
}

@keyframes cuadroTres
{
	from {margin-left: 300px;opacity: 0;}
	to {margin-left: 0px;opacity: 1;}
}

@-webkit-keyframes cuadroTres /* Safari and Chrome */
{
	from {margin-left: 300px;opacity: 0;}
	to {margin-left: 0px;opacity: 1;}
}

/*///////////////////////////////////////////////////////////////////////*/
@keyframes cuadroDos-sm
{
	from {margin-left: 60%;	opacity: 0;}
	to {margin-left: 45%;opacity: 1;}
}

@-webkit-keyframes cuadroDos-sm /* Safari and Chrome */
{
	from {margin-left: 60%;	opacity: 0;}
	to {margin-left: 45%;opacity: 1;}
}

@keyframes cuadroUno-sm
{
	from {margin-left: 60%;opacity: 0;}
	to {margin-left: 49%;opacity: 1;}
}

@-webkit-keyframes cuadroUno-sm /* Safari and Chrome */
{
	from {margin-left: 60%;opacity: 0;}
	to {margin-left: 49%;opacity: 1;}
}

@keyframes cuadroTres-sm
{
	from {margin-left: 60%;opacity: 0;}
	to {margin-left: 50%;opacity: 1;}
}

@-webkit-keyframes cuadroTres-sm /* Safari and Chrome */
{
	from {margin-left: 60%;opacity: 0;}
	to {margin-left: 50%;opacity: 1;}
}

.carrusel-controls{
	background: none;
}
.carrusel-controls:hover{
	background: none;
}

.TA_tchotel{
	position: absolute;
	border: none;
	top: 0;
	right: 20px;
	li {
		list-style: none;
	}
}
