#hotel {
  font-family: 'Open Sans', sans-serif;
  width: 100%;

  .carousel-inner{
    position:absolute;
    z-index:-1;
    width: 100%;
  }

  a {
    color: white;
  }

  h1, h3, p, blockquote {
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
  }

  blockquote {
    color: #e6c44c;
    text-align: justify;
  }

  strong {
  	color: #d6e03d;
  }



  hr {
    border-color: #e6c44c;
  }

  .row {

  }

  #twitter {
    margin-top: 25px;
    margin-bottom: 20px;
  }

}

/*Phone*/
@media screen and (max-height: 979px) {
  #hotel {
    #description {
      padding-left: 0px;
      padding-right: 0px;
    }

    #frase {
      color: #e6c44c;
      text-align: center;
      font-size: 18px;
    }

    #wraper {
      position:relative;
      top: 0px;
      width: 100%;
      padding-right: 0px;
      padding-left: 0px;
      border-top: 5px solid #550024;
      background-color: rgba(22, 22, 22, 0.95);
      color: white;
    }
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  #wraper {
    position:relative;
    top: 0px;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    border-top: 5px solid #550024;
    background-color: rgba(22, 22, 22, 0.95);
    color: white;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  #wraper {
    position:relative;
    top: 0px;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    border-top: 5px solid #550024;
    background-color: rgba(22, 22, 22, 0.95);
    color: white;
  }
}

/*Desktop and tablet*/
@media screen and (min-width:  1025px) {
  #hotel {
    #description {
      width: 90%;
    }

    #frase {
      color: #e6c44c;
      font-size: 24px;
    }

    #wraper {
      position:relative;
      top: 450px;
      width: 100%;
      padding-right: 0px;
      padding-left: 0px;
      border-top: 5px solid #550024;
      background-color: rgba(22, 22, 22, 0.95);
      color: white;
    }

    .item1{
      width: 100%;
      background: image-url('hotel/3.jpg') fixed no-repeat center;
      background-size: cover;
      padding-top: 450px;
    }

    .item2{
      width: 100%;
      background: image-url('hotel/2.jpg') fixed no-repeat center;
      background-size: cover;
      padding-top: 450px;
    }

    .item3{
      width: 100%;
      background: image-url('hotel/1.jpg') fixed no-repeat center;
      background-size: cover;
      padding-top: 450px;
    }

    .item4{
      width: 100%;
      background: image-url('/assets/hotel/4.jpg') fixed no-repeat center;
      background-size: cover;
      padding-top: 450px;
    }
  }
}
