#reservas {
	width: 100%;
  height: 100%;
	background: image-url("wood_pattern.png") repeat;

	h3, p {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-align: justify;
  }

  #tcexpired {
    margin-bottom: 15px;
  }

  #reservar_tcexpired_2i {
    margin-top: 10px;
  }

  p{
    font-size: 12px;
  }

  .placehlder {
  	color: white;
  }

  .contactos-input {
  	margin-top: 5px;
  }

  .boton-reserva {
  	margin-top: 5px;
  }

  input[type=checkbox] {
    display:none;
  }
  
  .form-reservation-2 {}

  .btn-group {
    width: 100%;
  }

  .btn-room {
    border-radius: 0px;
    padding: 6px;
    width: 100%;
    max-width: 300px;
    margin-top: 10px;
    background: #333333;

    p {
      padding-top: 10px;
      margin-bottom: 0px;
      color: white;
      font-family: 'Open Sans', sans-serif;
    }
  }

  .active {
    background: #780032;
  }

  #image-room-1 {
    background: image-url("hab_estandar/1.jpg") center no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 120px;
    max-width: 300px;
  }

  #image-room-2 {
    background: image-url("hab_doble/1.jpg") center no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 120px;
    max-width: 300px;
  }

  #image-room-3 {
    background: image-url("suite_deluxe/1.png") center no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 120px;
    max-width: 300px;
  }

  #image-room-4 {
    background: image-url("suite_deluxe/2.jpg") center no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 120px;
    max-width: 300px;
  }

  #image-room-5 {
    background: image-url("suite_deluxe/4.jpg") center no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 120px;
    max-width: 300px;
  }
}