#salones {
	width: 100%;
  height: 100%;
	background: image-url("wood_pattern.png") repeat;
}

#salones {
	h1 {
		padding-top: 40%;
		padding-bottom: 40%;
		color: #d6e03d;
		font-family: 'Open Sans', sans-serif;
	}

	h4 {
		color: #d6e03d;
		font-family: 'Open Sans', sans-serif;
	}

	span {
		color: #d6e03d;
		font-family: 'Open Sans', sans-serif;
	}

	.row {
		margin: 0px;
	}
}