#ver_habitaciones {
	color: #ffffff;
	width: 100%;
 	height: 100%;
	background: image-url("wood_pattern.png") repeat;
	font-family: 'Open Sans', sans-serif;
}

#CarouselHabitaciones{
	width: 100%;
 	height: 100%;
}

.icon-hab{
	float: left;
	background: #c0c0c0;
	padding: 5px;	
	margin-right: 10px;
}

.text-icon-hab{
	padding: 6px;
	font-size: 20px;
}

@media (max-width: 320px){ 
	#CarouselHabitaciones{
	 	height: 300px;
	}

	#CarouselHabitaciones{
		.image-carousel-1{
			height: 200px;
		}
	} 
}

.suite_deluxe1{
	background: image-url('suite_deluxe/1.jpg') center;
	background-repeat: no-repeat;
	background-size: cover; 
	height: 500px;
	width: 100%;
	padding-top: 300px;
}

.suite_deluxe2{
	background: image-url('suite_deluxe/2.jpg') center;
	background-repeat: no-repeat;
	background-size: cover; 
	height: 500px;
	width: 100%;
	padding-top: 300px;
}

.suite_deluxe3{
	background: image-url('suite_deluxe/3.jpg') center;
	background-repeat: no-repeat;
	background-size: cover; 
	height: 500px;
	width: 100%;
	padding-top: 300px;
}

.suite_deluxe4{
	background: image-url('suite_deluxe/4.jpg') center;
	background-repeat: no-repeat;
	background-size: cover; 
	height: 500px;
	width: 100%;
	padding-top: 300px;
}

.suite_deluxe5{
	background: image-url('suite_deluxe/5.jpg') center;
	background-repeat: no-repeat;
	background-size: cover; 
	height: 500px;
	width: 100%;
	padding-top: 300px;
}

.suite_estandar1{
	background: image-url('suite_estandar/1.jpg') center;
	background-repeat: no-repeat;
	background-size: cover; 
	height: 500px;
	width: 100%;
	padding-top: 300px;
}

.suite_estandar2{
	background: image-url('suite_estandar/2.jpg') center;
	background-repeat: no-repeat;
	background-size: cover; 
	height: 500px;
	width: 100%;
	padding-top: 300px;
}

.suite_estandar3{
	background: image-url('suite_estandar/3.jpg') center;
	background-repeat: no-repeat;
	background-size: cover; 
	height: 500px;
	width: 100%;
	padding-top: 300px;
}

.suite_estandar4{
	background: image-url('suite_estandar/4.jpg') center;
	background-repeat: no-repeat;
	background-size: cover; 
	height: 500px;
	width: 100%;
	padding-top: 300px;
}

.hab_doble1{
	background: image-url('hab_doble/1.jpg') center;
	background-repeat: no-repeat;
	background-size: cover; 
	height: 500px;
	width: 100%;
	padding-top: 300px;
}

.hab_doble2{
	background: image-url('hab_doble/2.jpg') center;
	background-repeat: no-repeat;
	background-size: cover; 
	height: 500px;
	width: 100%;
	padding-top: 300px;
}

.hab_doble3{
	background: image-url('hab_doble/3.jpg') center;
	background-repeat: no-repeat;
	background-size: cover; 
	height: 500px;
	width: 100%;
	padding-top: 300px;
}

.hab_estandar1{
	background: image-url('hab_estandar/1.jpg') center;
	background-repeat: no-repeat;
	background-size: cover; 
	height: 500px;
	width: 100%;
	padding-top: 300px;
}

.hab_estandar2{
	background: image-url('hab_estandar/2.jpg') center;
	background-repeat: no-repeat;
	background-size: cover; 
	height: 500px;
	width: 100%;
	padding-top: 300px;
}

.hab_estandar3{
	background: image-url('hab_estandar/3.jpg') center;
	background-repeat: no-repeat;
	background-size: cover; 
	height: 500px;
	width: 100%;
	padding-top: 300px;
}

.suite_junior1{
	background: image-url('suite_junior/1.jpg') center;
	background-repeat: no-repeat;
	background-size: cover; 
	height: 500px;
	width: 100%;
	padding-top: 300px;
}

.suite_junior2{
	background: image-url('suite_junior/2.jpg') center;
	background-repeat: no-repeat;
	background-size: cover; 
	height: 500px;
	width: 100%;
	padding-top: 300px;
}

.suite_junior3{
	background: image-url('suite_junior/3.jpg') center;
	background-repeat: no-repeat;
	background-size: cover; 
	height: 500px;
	width: 100%;
	padding-top: 300px;
}