!!!
%html
	= render template: "layouts/head"
	%body
		.locale
			.btn-group
				= link_to "EN", { :locale => "en" }, class: "#{I18n.locale == :en ? ('btn btn-locale active';) : ('btn btn-locale';)}"
				= link_to "ES",{ :locale => "es" }, class: "#{I18n.locale == :es ? ('btn btn-locale active';) : ('btn btn-locale';)}"
		.page-header
			- unless browser.modern? # Webkit, Firefox 17+, IE 9+ and Opera 12+
				.container
					.alert.alert-danger
						%button{ type:"button", class: "close", "data-dismiss"=>"alert", "aria-hidden"=>"true"}
							%i.fa.fa-times
						%center
							= raw t("module.browser.validation")+" <strong>#{browser.name}</strong>".html_safe
			.container
				.row
					.col-md-12.col-lg-12.col-sm-12.col-xs-12.div-page
						%h4 MIRASOL HOTEL BOUTIQUE PARAGUANÁ
						%hr
				.row
					.col-md-12.col-lg-12.col-sm-12.col-xs-12.div-page
						%center
							#logo-header
					.row
						.col-md-4.col-lg-4.col-sm-4.col-xs-12.div-page
							%i.fa.fa-phone{style:"font-size: 13px; color:#780032;"}
								%small +58-(0269)-246.16.55
						.col-md-4.col-lg-4.col-sm-4.col-xs-12.div-page
							= link_to new_reservar_path do
								%i.fa.fa-envelope{style:"font-size: 13px; color:#780032;"}
									%small reservaciones@mirasolsuites.com
						.col-md-4.col-lg-4.col-sm-4.col-xs-12.div-page
							= link_to staticpage_contacto_path, 'data-no-turbolink' => true do
								%i.fa.fa-envelope{style:"font-size: 13px; color:#780032;"}
									%small info@mirasolsuites.com
					.t-advisor.hidden-xs.hidden-sm
						%ul
							%li
								%a{:href => "http://www.tripadvisor.com.ve/Hotel_Review-g316095-d4838946-Reviews-Mirasol_Hotel_Boutique-Punto_Fijo_Paraguana_Peninsula_Central_Western_Region.html", :target => "_blank"}
									= image_tag "ta15.jpg", alt: "TripAdvisor", width: "150px";
							%li
								%a{:href => "http://www.tripadvisor.com.ve/Hotel_Review-g316095-d4838946-Reviews-Mirasol_Hotel_Boutique-Punto_Fijo_Paraguana_Peninsula_Central_Western_Region.html", :target => "_blank"}
									= image_tag "ta16.jpg", alt: "TripAdvisor", width: "117px";
					.row
						- if flash[:notice]
							.container
								.alert.alert-success
									%button{ type:"button", class: "close", "data-dismiss"=>"alert", "aria-hidden"=>"true"}
										%i.fa.fa-times
									%center
										= "<strong>#{flash[:notice]}</strong> Pronto nos estaremos comunicando contigo.".html_safe

		= render template: "layouts/navbar"
		= yield
	- unless params[:action] == 'hotel' or params[:action] == 'restoran'
		%footer#footer-body
			.container
				.row
					.col-md-4.col-lg-4.col-sm-12.hidden-xs{style:"padding-top:3%;"}
						%center
							.mirasol-footer
							.row
								.col-md-12.col-lg-12.col-sm-12.col-xs-12.div-page
									%center
										%ul.nav-socials
											%li
												= link_to "https://twitter.com/MirasolHotel", target: "_blank" do
													%span.fa-stack.fa-lg{style:"font-size:30px;"}
														%i.fa.fa-circle.fa-stack-2x{style:"color:#780032;"}
														%i.fa.fa-twitter.fa-stack-1x.fa-inverse
											%li
												= link_to "https://www.facebook.com/pages/Hotel-Mirasol-Suites-CA/290332104428638?ref=hl", target: "_blank" do
													%span.fa-stack.fa-lg{style:"font-size:30px;"}
														%i.fa.fa-circle.fa-stack-2x{style:"color:#780032;"}
														%i.fa.fa-facebook.fa-stack-1x.fa-inverse
											%li
												= link_to "https://instagram.com/mirasolhotelboutique", target: "_blank" do
													%span.fa-stack.fa-lg{style:"font-size:30px;"}
														%i.fa.fa-circle.fa-stack-2x{style:"color:#780032;"}
														%i.fa.fa-instagram.fa-stack-1x.fa-inverse
											%li{style: "margin-left: 5px;"}
												= link_to "http://www.tripadvisor.com/Hotel_Review-g316095-d4838946-Reviews-Mirasol_Hotel_Boutique-Punto_Fijo_Paraguana_Peninsula_Central_Western_Region.html", target: "_blank" do
													%span.fa-stack.fa-lg{style:"font-size:30px;"}
														%i.fa.fa-circle.fa-stack-2x{style:"color:#780032;"}
														%i.fa.fa-tripadvisor.fa-stack-1x.fa-inverse
					.col-md-4.col-lg-4.col-sm-12.col-xs-12{align:"justify"}
						%h3
							%b
								=t("footer.conocenos")
						%p
							=t("footer.conocenos-p")
					.col-md-4.col-lg-4.col-sm-12.col-xs-12{align:"justify"}
						%h3
							%b
								=t("footer.ubicanos")
						%p
							=raw  t('footer.ubicanos-p')
					.col-md-3.col-lg-3.col-sm-12.col-xs-12.visible-xs{align:"justify"}
						%h3
							%b
								Redes Sociales
						%p Amplia presencia en la web...
						%center
							%ul.nav-socials
								%li
									= link_to "https://twitter.com/MirasolHotel", target: "_blank" do
										%span.fa-stack.fa-lg{style:"font-size:30px;"}
											%i.fa.fa-circle.fa-stack-2x{style:"color:#780032;"}
											%i.fa.fa-twitter.fa-stack-1x.fa-inverse
								%li
									= link_to "https://www.facebook.com/pages/Hotel-Mirasol-Suites-CA/290332104428638?ref=hl", target: "_blank" do
										%span.fa-stack.fa-lg{style:"font-size:30px;"}
											%i.fa.fa-circle.fa-stack-2x{style:"color:#780032;"}
											%i.fa.fa-facebook.fa-stack-1x.fa-inverse
								%li
									= link_to "https://instagram.com/mirasolhotelboutique", target: "_blank" do
										%span.fa-stack.fa-lg{style:"font-size:30px;"}
											%i.fa.fa-circle.fa-stack-2x{style:"color:#780032;"}
											%i.fa.fa-instagram.fa-stack-1x.fa-inverse
								%li{style: "margin-left: 5px;"}
									= link_to "http://www.tripadvisor.com/Hotel_Review-g316095-d4838946-Reviews-Mirasol_Hotel_Boutique-Punto_Fijo_Paraguana_Peninsula_Central_Western_Region.html", target: "_blank" do
										%span.fa-stack.fa-lg{style:"font-size:30px;"}
											%i.fa.fa-circle.fa-stack-2x{style:"color:#780032;"}
											%i.fa.fa-tripadvisor.fa-stack-1x.fa-inverse
		#footer
			%center
				= t('footer.autor')
				= image_tag 'slicegroup.png', width: "60px", style: "display: inline; margin-left: 5px; margin-bottom: 3px;"
			%br

:javascript


	var t ;
	$(document).on(
			'DOMMouseScroll mousewheel scroll',
			'body',
			function(){
					window.clearTimeout( t );
					t = window.setTimeout( function(){
							$('.date').datepicker('place')
					}, 1 );
			}
	);

	//reservas
	jQuery(function() {
		var nowTemp = new Date();
		var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);

		var checkin = $('#check-in').datepicker({
				format: "dd/mm/yyyy",
				beforeShowDay: function (date) {
					return date.valueOf() >= now.valueOf();
				},
				autoclose: true

		}).on('changeDate', function (ev) {
			$('#check-out')[0].focus();
		});

		var checkout = $('#check-out').datepicker({
			format: "dd/mm/yyyy",
			beforeShowDay: function (date) {
				return date.valueOf() >= now.valueOf();
			},
				autoclose: true,
			}).on('changeDate', function (ev) {

		});
	});

	//eventos
	jQuery(function() {
		var nowTemp = new Date();
		var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);

		var inciio = $('#evento_fecha_inicio').datepicker({
				format: "dd/mm/yyyy",
				beforeShowDay: function (date) {
					return date.valueOf() >= now.valueOf();
				},
				autoclose: true

		}).on('changeDate', function (ev) {
			$('#evento_fecha_fin')[0].focus();
		});

		var fin = $('#evento_fecha_fin').datepicker({
			format: "dd/mm/yyyy",
			beforeShowDay: function (date) {
				return date.valueOf() >= now.valueOf();
			},
				autoclose: true,
			}).on('changeDate', function (ev) {

		});
	});