%head
	%title Mirasol - Hotel Boutique
	%meta{:content => "MIRASOL HOTEL BOUTIQUE nace como establecimiento focalizado en el área de hospitalidad, ofreciendo sus servicios pensando en el Ejecutivo de hoy, brindando amenidades que superan sus expectativas.", :name => "descrption"}
	= favicon_link_tag 'favicon.png' 
	%meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}
	%link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:300", :rel => "stylesheet", :type => "text/css"}
	%link{ href:'http://fonts.googleapis.com/css?family=Raleway:400,900', rel:'stylesheet', type:'text/css' }
	%script{src:"https://maps.googleapis.com/maps/api/js?sensor=false"}
	:javascript
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-39728078-1']);
		_gaq.push(['_setDomainName', 'mirasolsuites.com']);
		_gaq.push(['_setAllowLinker', true]);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
	= javascript_include_tag "application", "data-turbolinks-track" => true
	= javascript_include_tag "home", "data-turbolinks-track" => true
	= csrf_meta_tags