%nav.navbar.navbar-default{role: "navigation"}
	.navbar-header
		%button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
			%span.sr-only Toggle navigation
			%span.icon-bar
			%span.icon-bar
			%span.icon-bar
		%div.visible-xs.navbar-brand= "#{t('navbar.items.menu')}"
	#bs-example-navbar-collapse-1.collapse.navbar-collapse
		%ul.nav.navbar-nav
			%li{ class: "#{'active' if params[:action] == 'index'}"}
				= link_to "#{t('navbar.items.home')}", staticpage_index_path 
			%li{class: "#{'active' if params[:action] == 'hotel'}"}
				= link_to "#{t('navbar.items.hotel')}", staticpage_hotel_path 
			%li{ class: "#{'active' if params[:action] == 'habitaciones'}"}
				= link_to "#{t('navbar.items.habitaciones')}", staticpage_habitaciones_path 
			%li{ class: "#{'active' if params[:action] == 'salones'}"}
				= link_to "#{t('navbar.items.salones')}", staticpage_salones_path
			%li{ class: "#{'active' if params[:action] == 'restoran'}"}
				= link_to "#{t('navbar.items.restoran')}", staticpage_restoran_path 
			%li{ class: "#{'active' if params[:action] == 'new'}"}
				= link_to "#{t('navbar.items.eventos')}", staticpage_eventos_path  
			%li{ class: "#{'active' if params[:action] == 'contacto'}"}
				= link_to "#{t('navbar.items.contacto')}", staticpage_contacto_path, 'data-no-turbolink' => true
